ai-short-drama/workflows/02-novel-chunk-analysis.json
{
  "name": "02 小说分段分析",
  "id": "wf_novel_chunk_analysis",
  "active": false,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true, "timezone": "Asia/Taipei"},
  "nodes": [
    {"parameters": {"workflowInputs": {"values": [{"name": "project_id"},{"name":"episode_id"},{"name":"shot_id"},{"name":"stage"},{"name":"action"},{"name":"generation_version","type":"number"},{"name":"test_mode","type":"boolean"},{"name":"trace_id"},{"name":"payload","type":"object"}]}}, "id":"02-trigger","name":"Sub-workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1480,0]},
    {"parameters":{"jsCode":"const crypto=require('crypto');const i=$json,p=i.payload||{};if(!i.project_id||!p.novel_id)throw new Error('INVALID_INPUT: project_id and payload.novel_id are required');const action=i.action||'run',v=Number(i.generation_version||1),key=p.idempotency_key||[i.project_id,'chunk_analysis',p.novel_id,v,action].join(':');return [{json:{...i,stage:'chunk_analysis',action,generation_version:v,trace_id:i.trace_id||`trace_${crypto.randomUUID()}`,task_id:`task_${crypto.randomUUID()}`,idempotency_key:key,payload:p,started_ms:Date.now()}}];"},"id":"02-normalize","name":"Validate and Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1260,0]},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO drama.workflow_tasks(task_id,trace_id,project_id,workflow_stage,action,entity_type,entity_id,generation_version,idempotency_key,status,max_retries,input_data,started_at) VALUES($1,$2,$3,'chunk_analysis',$4,'novel',$5,$6,$7,'running',$8,$9::jsonb,now()) ON CONFLICT(idempotency_key) DO UPDATE SET status=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN ('retry','regenerate','resume') AND drama.workflow_tasks.retry_count<drama.workflow_tasks.max_retries THEN 'running' ELSE drama.workflow_tasks.status END,retry_count=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN ('retry','regenerate','resume') THEN drama.workflow_tasks.retry_count+1 ELSE drama.workflow_tasks.retry_count END RETURNING status,output_data,$10::jsonb AS request;","options":{"queryReplacement":"={{ [$json.task_id,$json.trace_id,$json.project_id,$json.action,$json.payload.novel_id,$json.generation_version,$json.idempotency_key,Number($env.MODEL_MAX_RETRIES||3),JSON.stringify($json),JSON.stringify($json)] }}"}},"id":"02-gate","name":"Idempotency Task Gate","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1040,0],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"02-cached-if","name":"Already Completed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-820,0]},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"02-cache","name":"Return Cached Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-180]},
    {"parameters":{"jsCode":"if($json.status!=='running')throw new Error(`TASK_LOCKED_OR_RETRY_EXHAUSTED: ${$json.status}`);return [{json:$json.request}];"},"id":"02-restore","name":"Restore Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,40]},
    {"parameters":{"operation":"executeQuery","query":"SELECT c.chapter_id,c.chapter_number,c.title,c.content,c.char_count FROM drama.novel_chapters c WHERE c.project_id=$1 AND c.novel_id=$2 ORDER BY c.chapter_number;","options":{"queryReplacement":"={{ [$json.project_id,$json.payload.novel_id] }}"}},"id":"02-load","name":"Load Chapters","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-380,40],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"mode":"runOnceForAllItems","jsCode":"const req=$('Restore Request').first().json,rows=$input.all().map(x=>x.json);if(!rows.length)throw new Error('NOVEL_NOT_FOUND: no chapters');const max=Math.max(1000,Number($env.CHUNK_MAX_CHARS||12000)),overlap=Math.max(0,Math.min(max/3,Number($env.CHUNK_OVERLAP_CHARS||500)));let parts=[];for(const c of rows){if(c.char_count<=max){parts.push({chapter_ids:[c.chapter_id],text:`${c.title}\\n${c.content}`});continue;}const ps=String(c.content).split(/\\n+/).filter(Boolean);let buf='';for(const p of ps){if(buf&&[...buf+'\\n'+p].length>max){parts.push({chapter_ids:[c.chapter_id],text:`${c.title}\\n${buf}`});buf=[...buf].slice(-overlap).join('')+'\\n'+p;}else buf+=(buf?'\\n':'')+p;}if(buf)parts.push({chapter_ids:[c.chapter_id],text:`${c.title}\\n${buf}`});}let chunks=[];for(const p of parts){const last=chunks.at(-1);if(last&&[...last.content+'\\n'+p.text].length<=max){last.content+='\\n'+p.text;last.chapter_ids=[...new Set([...last.chapter_ids,...p.chapter_ids])];}else chunks.push({content:p.text,chapter_ids:p.chapter_ids});}return chunks.map((c,n)=>({json:{...req,chunk_id:`chunk_${req.payload.novel_id.replace(/^novel_/,'').slice(0,12)}_${String(n).padStart(5,'0')}`,chunk_index:n,chapter_ids:c.chapter_ids,content:c.content,char_count:[...c.content].length,previous_summary:n?`承接前一分段 ${n-1}`:''}}));"},"id":"02-chunk","name":"Build Chapter-aware Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,40]},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO drama.novel_chunks(chunk_id,project_id,novel_id,chapter_ids,chunk_index,content,char_count,previous_summary) VALUES($1,$2,$3,$4::jsonb,$5,$6,$7,$8) ON CONFLICT(novel_id,chunk_index) DO UPDATE SET chapter_ids=excluded.chapter_ids,content=excluded.content,char_count=excluded.char_count,previous_summary=excluded.previous_summary,updated_at=now() WHERE drama.novel_chunks.analysis_status<>'completed' RETURNING chunk_id;","options":{"queryReplacement":"={{ [$json.chunk_id,$json.project_id,$json.payload.novel_id,JSON.stringify($json.chapter_ids),$json.chunk_index,$json.content,$json.char_count,$json.previous_summary] }}"}},"id":"02-save-chunks","name":"Upsert Chunks","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[60,40],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"mode":"runOnceForAllItems","jsCode":"return [{json:$('Restore Request').first().json}];"},"id":"02-after-inserts","name":"After Chunk Inserts","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,40]},
    {"parameters":{"operation":"executeQuery","query":"SELECT chunk_id,project_id,novel_id,chunk_index,content,char_count,previous_summary,retry_count FROM drama.novel_chunks WHERE project_id=$1 AND novel_id=$2 AND (analysis_status='pending' OR (analysis_status='failed' AND $3 IN ('retry','regenerate','resume') AND retry_count<$4)) ORDER BY chunk_index;","options":{"queryReplacement":"={{ [$json.project_id,$json.payload.novel_id,$json.action,Number($env.MODEL_MAX_RETRIES||3)] }}"}},"id":"02-candidates","name":"Load Pending or Failed Chunks","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,40],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"options":{"reset":false}},"id":"02-loop","name":"Loop Over Chunks","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,40]},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Restore Request').first().json.test_mode || $env.MOCK_MODE === 'true' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"02-mock-if","name":"Mock Mode?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[940,160]},
    {"parameters":{"jsCode":"const c=$json;const title=String(c.content).split('\\n')[0].slice(0,60);return [{json:{...c,analysis:{summary:`分段 ${c.chunk_index}：${title}相关情节推进。`,characters:[{name:'示例人物',aliases:[],gender:'unknown',estimated_age:null,identity:'故事人物',appearance:[],personality:['目标明确'],relationships:[],evidence:[{chunk_id:c.chunk_id,quote:title}]}],locations:[],events:[{event_id:`evt_${c.chunk_index}_1`,description:title,participants:['示例人物'],location:'',time_hint:'',importance:3,evidence:[{chunk_id:c.chunk_id,quote:title}]}],conflicts:[],world_rules:[],timeline_clues:[],foreshadowing:[]},raw_response:{mock:true},usage:{prompt_tokens:0,completion_tokens:0,total_tokens:0},estimated_cost:0}}];"},"id":"02-mock","name":"Generate Mock Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,80]},
    {"parameters":{"method":"POST","url":"={{ $env.LITELLM_BASE_URL + '/v1/chat/completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.LITELLM_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {model:$env.TEXT_ANALYSIS_MODEL||'glm-5.2',temperature:0.1,max_tokens:Number($env.MODEL_MAX_TOKENS||4096),response_format:{type:'json_object'},messages:[{role:'system',content:'你是小说结构分析器。只输出严格 JSON，字段必须为 summary, characters, locations, events, conflicts, world_rules, timeline_clues, foreshadowing。characters 与 events 必须符合给定数据结构，所有结论保留 evidence。'},{role:'user',content:'previous_summary: '+$json.previous_summary+'\\nchunk_id: '+$json.chunk_id+'\\n正文：\\n'+$json.content}]} }}","options":{"timeout":"={{ Number($env.MODEL_TIMEOUT_MS || 120000) }}","response":{"response":{"neverError":false,"responseFormat":"json"}}}},"id":"02-ai","name":"Call LiteLLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,240],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const c=$('Loop Over Chunks').item.json;let raw=$json.choices?.[0]?.message?.content;if(typeof raw!=='string')throw new Error('INVALID_AI_RESPONSE: missing content');raw=raw.replace(/^```(?:json)?\\s*/i,'').replace(/```$/,'').replace(/,\\s*([}\\]])/g,'$1').trim();const a=JSON.parse(raw);for(const k of ['summary','characters','locations','events','conflicts','world_rules','timeline_clues','foreshadowing'])if(!(k in a))throw new Error(`INVALID_AI_SCHEMA: missing ${k}`);if(typeof a.summary!=='string'||!Array.isArray(a.characters)||!Array.isArray(a.events))throw new Error('INVALID_AI_SCHEMA: wrong field types');return [{json:{...c,analysis:a,raw_response:{id:$json.id,model:$json.model,finish_reason:$json.choices?.[0]?.finish_reason},usage:$json.usage||{},estimated_cost:0}}];"},"id":"02-parse","name":"Local Parse and Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,240],"onError":"continueErrorOutput"},
    {"parameters":{"method":"POST","url":"={{ $env.LITELLM_BASE_URL + '/v1/chat/completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.LITELLM_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {model:$env.TEXT_ANALYSIS_MODEL||'glm-5.2',temperature:0,max_tokens:Number($env.MODEL_MAX_TOKENS||4096),response_format:{type:'json_object'},messages:[{role:'system',content:'修复输入，使其成为严格合法 JSON。只输出 JSON，不增删语义。'},{role:'user',content:String($('Call LiteLLM').item.json.choices?.[0]?.message?.content||'')}]} }}","options":{"timeout":"={{ Number($env.MODEL_TIMEOUT_MS || 120000) }}"}},"id":"02-repair","name":"One JSON Repair Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,340],"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const c=$('Loop Over Chunks').item.json;const raw=$json.choices?.[0]?.message?.content;const a=JSON.parse(String(raw).replace(/^```(?:json)?\\s*/i,'').replace(/```$/,'').trim());for(const k of ['summary','characters','locations','events','conflicts','world_rules','timeline_clues','foreshadowing'])if(!(k in a))throw new Error(`INVALID_AI_SCHEMA: missing ${k}`);return [{json:{...c,analysis:a,raw_response:{repaired:true,id:$json.id},usage:$json.usage||{},estimated_cost:0}}];"},"id":"02-parse-repair","name":"Parse Repaired JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,340],"onError":"continueErrorOutput"},
    {"parameters":{"operation":"executeQuery","query":"UPDATE drama.novel_chunks SET analysis_status='completed',analysis_result=$1::jsonb,raw_response=$2::jsonb,token_usage=$3::jsonb,estimated_cost=$4,error_message=NULL,updated_at=now() WHERE chunk_id=$5 RETURNING chunk_id;","options":{"queryReplacement":"={{ [JSON.stringify($json.analysis),JSON.stringify($json.raw_response),JSON.stringify($json.usage),$json.estimated_cost||0,$json.chunk_id] }}"}},"id":"02-save-analysis","name":"Save Chunk Analysis","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2020,100],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const c=$('Loop Over Chunks').item.json;const msg=$json.error?.message||$json.message||'chunk analysis failed';return [{json:{chunk_id:c.chunk_id,error_message:msg}}];"},"id":"02-chunk-error","name":"Normalize Chunk Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,520]},
    {"parameters":{"operation":"executeQuery","query":"UPDATE drama.novel_chunks SET analysis_status='failed',retry_count=retry_count+1,error_message=$1,updated_at=now() WHERE chunk_id=$2 RETURNING chunk_id;","options":{"queryReplacement":"={{ [$json.error_message,$json.chunk_id] }}"}},"id":"02-save-error","name":"Save Chunk Failure","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2020,520],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"operation":"executeQuery","query":"SELECT count(*)::int AS total_count,count(*) FILTER(WHERE analysis_status='completed')::int AS success_count,count(*) FILTER(WHERE analysis_status='failed')::int AS failed_count,coalesce(sum((token_usage->>'total_tokens')::int),0)::int AS output_tokens,coalesce(sum(estimated_cost),0)::numeric AS estimated_cost FROM drama.novel_chunks WHERE project_id=$1 AND novel_id=$2;","options":{"queryReplacement":"={{ [$('Restore Request').first().json.project_id,$('Restore Request').first().json.payload.novel_id] }}"}},"id":"02-stats","name":"Collect Analysis Stats","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[960,-100],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"jsCode":"const r=$('Restore Request').first().json,s=$json,ok=Number(s.failed_count)===0;return [{json:{response:{success:ok,project_id:r.project_id,trace_id:r.trace_id,stage:'chunk_analysis',status:ok?'completed':'failed',data_ref:{entity_type:'novel_chunks',entity_id:r.payload.novel_id},metrics:{duration_ms:Date.now()-r.started_ms,total_chunks:Number(s.total_count),success_chunks:Number(s.success_count),failed_chunks:Number(s.failed_count),output_tokens:Number(s.output_tokens),estimated_cost:Number(s.estimated_cost)},error:ok?null:{code:'CHUNK_ANALYSIS_INCOMPLETE',message:`${s.failed_count} chunk(s) failed`,retryable:true}},task_status:ok?'completed':'failed',key:r.idempotency_key}}];"},"id":"02-result","name":"Build Final Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,-100]},
    {"parameters":{"operation":"executeQuery","query":"UPDATE drama.workflow_tasks SET status=$1,output_data=$2::jsonb,error_code=CASE WHEN $1='failed' THEN 'CHUNK_ANALYSIS_INCOMPLETE' ELSE NULL END,error_message=CASE WHEN $1='failed' THEN $3 ELSE NULL END,completed_at=now() WHERE idempotency_key=$4; SELECT $2::jsonb AS response;","options":{"queryReplacement":"={{ [$json.task_status,JSON.stringify($json.response),$json.response.error?.message||null,$json.key] }}"}},"id":"02-final-save","name":"Finalize Task","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1400,-100],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"jsCode":"return [{json:$json.response}];"},"id":"02-final","name":"Final Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,-100]},
    {"parameters":{"jsCode":"const r=$('Validate and Normalize').item.json,msg=$json.error?.message||$json.message||'workflow failed';return [{json:{success:false,project_id:r.project_id,trace_id:r.trace_id,stage:'chunk_analysis',status:'failed',data_ref:null,metrics:{},error:{code:'CHUNK_ANALYSIS_ERROR',message:msg,retryable:/429|timeout|5\\d\\d|network/i.test(msg)}}}];"},"id":"02-fatal","name":"Fatal Failure Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,500]}
  ],
  "connections":{
    "Sub-workflow Trigger":{"main":[[{"node":"Validate and Normalize","type":"main","index":0}]]},"Validate and Normalize":{"main":[[{"node":"Idempotency Task Gate","type":"main","index":0}]]},"Idempotency Task Gate":{"main":[[{"node":"Already Completed?","type":"main","index":0}],[{"node":"Fatal Failure Response","type":"main","index":0}]]},"Already Completed?":{"main":[[{"node":"Return Cached Result","type":"main","index":0}],[{"node":"Restore Request","type":"main","index":0}]]},"Restore Request":{"main":[[{"node":"Load Chapters","type":"main","index":0}]]},"Load Chapters":{"main":[[{"node":"Build Chapter-aware Chunks","type":"main","index":0}],[{"node":"Fatal Failure Response","type":"main","index":0}]]},"Build Chapter-aware Chunks":{"main":[[{"node":"Upsert Chunks","type":"main","index":0}]]},"Upsert Chunks":{"main":[[{"node":"After Chunk Inserts","type":"main","index":0}],[{"node":"Fatal Failure Response","type":"main","index":0}]]},"After Chunk Inserts":{"main":[[{"node":"Load Pending or Failed Chunks","type":"main","index":0}]]},"Load Pending or Failed Chunks":{"main":[[{"node":"Loop Over Chunks","type":"main","index":0}]]},"Loop Over Chunks":{"main":[[{"node":"Collect Analysis Stats","type":"main","index":0}],[{"node":"Mock Mode?","type":"main","index":0}]]},"Mock Mode?":{"main":[[{"node":"Generate Mock Analysis","type":"main","index":0}],[{"node":"Call LiteLLM","type":"main","index":0}]]},"Generate Mock Analysis":{"main":[[{"node":"Save Chunk Analysis","type":"main","index":0}]]},"Call LiteLLM":{"main":[[{"node":"Local Parse and Validate","type":"main","index":0}],[{"node":"Normalize Chunk Error","type":"main","index":0}]]},"Local Parse and Validate":{"main":[[{"node":"Save Chunk Analysis","type":"main","index":0}],[{"node":"One JSON Repair Call","type":"main","index":0}]]},"One JSON Repair Call":{"main":[[{"node":"Parse Repaired JSON","type":"main","index":0}],[{"node":"Normalize Chunk Error","type":"main","index":0}]]},"Parse Repaired JSON":{"main":[[{"node":"Save Chunk Analysis","type":"main","index":0}],[{"node":"Normalize Chunk Error","type":"main","index":0}]]},"Save Chunk Analysis":{"main":[[{"node":"Loop Over Chunks","type":"main","index":0}],[{"node":"Normalize Chunk Error","type":"main","index":0}]]},"Normalize Chunk Error":{"main":[[{"node":"Save Chunk Failure","type":"main","index":0}]]},"Save Chunk Failure":{"main":[[{"node":"Loop Over Chunks","type":"main","index":0}]]},"Collect Analysis Stats":{"main":[[{"node":"Build Final Result","type":"main","index":0}]]},"Build Final Result":{"main":[[{"node":"Finalize Task","type":"main","index":0}]]},"Finalize Task":{"main":[[{"node":"Final Response","type":"main","index":0}]]}
  },
  "pinData":{},"versionId":"d6a6a2fb-7fcb-4f1c-bbb1-020000000002","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
