ai-short-drama/workflows/02a-narrative-ir-extract.json
{
  "name": "02a Narrative IR 有界提取",
  "nodes": [
    {
      "parameters": {"workflowInputs":{"values":[{"name":"worker_id"},{"name":"claim_request_id"},{"name":"lease_seconds","type":"number"},{"name":"test_mode","type":"boolean"},{"name":"payload","type":"object"}]}},
      "id": "02a-trigger", "name": "Sub-workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [-1500,0]
    },
    {
      "parameters": {"jsCode":"const crypto=require('crypto');const i=$json,p=i.payload||{};if(!i.worker_id||!i.claim_request_id)throw new Error('INVALID_INPUT: worker_id and claim_request_id are required');const lease=Math.max(60,Math.min(3600,Number(i.lease_seconds||900)));return [{json:{worker_id:String(i.worker_id),claim_request_id:String(i.claim_request_id),lease_seconds:lease,test_mode:Boolean(i.test_mode),extractor_version:String(p.extractor_version||'phase2-ir-extractor-v1'),trace_id:String(p.trace_id||`trace_${crypto.randomUUID()}`)}}];"},
      "id": "02a-normalize", "name": "Normalize Worker Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1280,0]
    },
    {
      "parameters": {"operation":"executeQuery","query":"SELECT * FROM drama.claim_operation($1::text,$2::text,ARRAY['ir_extraction']::text[],$3::integer);","options":{"queryReplacement":"={{ [$json.worker_id,$json.claim_request_id,$json.lease_seconds] }}"}},
      "id": "02a-claim", "name": "Claim IR Operation", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1060,0],
      "credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}
    },
    {
      "parameters": {"jsCode":"const row=$json;if(!row.operation_id)throw new Error('NO_CLAIMABLE_OPERATION: no pending ir_extraction operation');if(row.operation_type!=='ir_extraction'||row.target_type!=='ir_revision')throw new Error('OPERATION_CONTRACT_MISMATCH: expected ir_extraction/ir_revision');if(!row.claim_token)throw new Error('CLAIM_TOKEN_MISSING');return [{json:{...row,lease_seconds:$('Normalize Worker Request').first().json.lease_seconds,test_mode:$('Normalize Worker Request').first().json.test_mode}}];"},
      "id": "02a-verify-claim", "name": "Verify Claimed Operation", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-840,0]
    },
    {
      "parameters": {"operation":"executeQuery","query":"WITH op AS (SELECT * FROM drama.operations WHERE operation_id=$1 AND claim_token=$2::uuid), ir AS (SELECT r.* FROM drama.narrative_ir_revisions r JOIN op ON op.target_id=r.ir_revision_id WHERE r.status IN ('staging','validating')), cursor_value AS (SELECT CASE WHEN coalesce(op.checkpoint_cursor,'') ~ '^[0-9]+:[0-9]+$' THEN split_part(op.checkpoint_cursor,':',1)::int ELSE 1 END AS ordinal, CASE WHEN coalesce(op.checkpoint_cursor,'') ~ '^[0-9]+:[0-9]+$' THEN split_part(op.checkpoint_cursor,':',2)::int ELSE 0 END AS codepoint_offset FROM op), chapter AS (SELECT svc.ordinal,svc.chapter_id,svc.chapter_revision_id,cr.title,cr.content,cr.char_count,(SELECT max(allc.ordinal) FROM drama.source_version_chapters allc WHERE allc.source_version_id=svc.source_version_id AND (jsonb_array_length(coalesce(op.checkpoint_data->'chapter_ids','[]'::jsonb))=0 OR allc.chapter_id IN (SELECT jsonb_array_elements_text(op.checkpoint_data->'chapter_ids')))) AS last_selected_ordinal,(SELECT coalesce(jsonb_agg(allc.chapter_id ORDER BY allc.ordinal),'[]'::jsonb) FROM drama.source_version_chapters allc WHERE allc.source_version_id=svc.source_version_id AND (jsonb_array_length(coalesce(op.checkpoint_data->'chapter_ids','[]'::jsonb))=0 OR allc.chapter_id IN (SELECT jsonb_array_elements_text(op.checkpoint_data->'chapter_ids')))) AS selected_chapter_ids FROM ir JOIN op ON true JOIN cursor_value cv ON true JOIN LATERAL (SELECT v.* FROM drama.source_version_chapters v WHERE v.source_version_id=ir.source_version_id AND v.ordinal>=cv.ordinal AND (jsonb_array_length(coalesce(op.checkpoint_data->'chapter_ids','[]'::jsonb))=0 OR v.chapter_id IN (SELECT jsonb_array_elements_text(op.checkpoint_data->'chapter_ids'))) ORDER BY v.ordinal LIMIT 1) svc ON true JOIN drama.chapter_revisions cr ON cr.chapter_revision_id=svc.chapter_revision_id) SELECT op.operation_id,op.trace_id,op.claim_token::text,op.lease_owner,op.retry_count,op.max_retries,op.checkpoint_cursor,ir.ir_revision_id,ir.work_id,ir.source_version_id,cv.codepoint_offset,c.ordinal,c.chapter_id,c.chapter_revision_id,c.title,c.content,c.char_count,c.last_selected_ordinal,c.selected_chapter_ids,sv.status AS source_status,sv.version_hash FROM op JOIN ir ON true JOIN drama.source_versions sv ON sv.source_version_id=ir.source_version_id CROSS JOIN cursor_value cv LEFT JOIN chapter c ON true WHERE sv.status='published';","options":{"queryReplacement":"={{ [$json.operation_id,$json.claim_token] }}"}},
      "id": "02a-load-window", "name": "Load One Bounded Chapter Window", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-620,0],
      "credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}
    },
    {
      "parameters": {"jsCode":"const r=$json;if(!r.operation_id)throw new Error('IR_INPUT_NOT_READY: claim, staging IR or published source version missing');if(!r.chapter_id)return [{json:{...r,has_window:false,next_cursor:null,ready_for_reconcile:true}}];const max=Math.max(1000,Math.min(24000,Number($env.IR_WINDOW_MAX_CODEPOINTS||12000)));const chars=Array.from(String(r.content));let start=Number(r.codepoint_offset||0);if(Number(r.ordinal)>Number(String(r.checkpoint_cursor||'1:0').split(':')[0]))start=0;if(start<0||start>=chars.length)start=0;const end=Math.min(chars.length,start+max);const prefix=chars.slice(0,start).join(''),content=chars.slice(start,end).join('');const startBytes=Buffer.byteLength(prefix,'utf8');const isChapterEnd=end===chars.length;const ready=isChapterEnd&&Number(r.ordinal)>=Number(r.last_selected_ordinal);const nextCursor=ready?null:(isChapterEnd?`${Number(r.ordinal)+1}:0`:`${r.ordinal}:${end}`);const windowKey=`${r.chapter_revision_id}:${start}:${end}`;return [{json:{operation_id:r.operation_id,trace_id:r.trace_id,claim_token:r.claim_token,lease_owner:r.lease_owner,retry_count:r.retry_count,max_retries:r.max_retries,ir_revision_id:r.ir_revision_id,work_id:r.work_id,source_version_id:r.source_version_id,version_hash:r.version_hash,selected_chapter_ids:r.selected_chapter_ids||[],has_window:true,ready_for_reconcile:ready,next_cursor:nextCursor,window:{window_key:windowKey,ordinal:Number(r.ordinal),chapter_id:r.chapter_id,chapter_revision_id:r.chapter_revision_id,title:r.title,chapter_total_codepoints:chars.length,start_codepoint:start,end_codepoint:end,start_utf8_byte:startBytes,end_utf8_byte:startBytes+Buffer.byteLength(content,'utf8'),content}}}];"},
      "id": "02a-bound-window", "name": "Build Codepoint-bounded Slice", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-400,0]
    },
    {
      "parameters": {"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.has_window }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},
      "id": "02a-has-window", "name": "Has Source Window?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [-180,0]
    },
    {
      "parameters": {"method":"POST","url":"={{ $env.LITELLM_BASE_URL + '/v1/chat/completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.LITELLM_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {model:$env.TEXT_ANALYSIS_MODEL||'glm-5.2',temperature:0,max_tokens:Number($env.MODEL_MAX_TOKENS||8192),response_format:{type:'json_schema',json_schema:{name:'narrative_extraction_v1',strict:true,schema:{type:'object',additionalProperties:false,required:['schema_version','entities','facts','event_relations','story_arcs'],properties:{schema_version:{const:'narrative-extraction.v1'},entities:{type:'array',maxItems:500},facts:{type:'array',maxItems:2000},event_relations:{type:'array',maxItems:5000},story_arcs:{type:'array',maxItems:200}}}}},messages:[{role:'system',content:'Extract Narrative IR from exactly one bounded chapter slice. Output narrative-extraction.v1 JSON only. Every entity/fact/relation/arc and participant must carry exact source_version_id, chapter_id, chapter_revision_id, absolute UTF-8 byte and codepoint offsets, verbatim quote, SHA-256 quote_hash, and confidence. Do not infer unsupported facts. Do not output provider metadata.'},{role:'user',content:JSON.stringify({source_version_id:$json.source_version_id,chapter_id:$json.window.chapter_id,chapter_revision_id:$json.window.chapter_revision_id,chapter_ordinal:$json.window.ordinal,slice_start_codepoint:$json.window.start_codepoint,slice_start_utf8_byte:$json.window.start_utf8_byte,chapter_title:$json.window.title,bounded_text:$json.window.content})}]} }}","options":{"timeout":"={{ Number($env.MODEL_TIMEOUT_MS||120000) }}","response":{"response":{"neverError":false,"responseFormat":"json"}}}},
      "id": "02a-model", "name": "Call Narrative Extraction Model", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [40,80], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000,
      "onError":"continueErrorOutput"
    },
    {
      "parameters": {"jsCode":"const base=$('Build Codepoint-bounded Slice').item.json;let value=$json.choices?.[0]?.message?.content;if(typeof value!=='string')throw new Error('MODEL_INVALID_JSON: missing message content');value=value.replace(/^```(?:json)?\\s*/i,'').replace(/```$/,'').trim();const extraction=JSON.parse(value);return [{json:{...base,extraction}}];"},
      "id": "02a-parse", "name": "Parse Model JSON", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [260,80], "onError":"continueErrorOutput"
    },
    {
      "parameters": {"jsCode":"const x=$json,o=x.extraction,errors=[];const obj=v=>v&&typeof v==='object'&&!Array.isArray(v),arr=Array.isArray,str=v=>typeof v==='string'&&v.length>0,num=v=>typeof v==='number'&&Number.isFinite(v),keys=(v,allowed,p)=>{for(const k of Object.keys(v))if(!allowed.includes(k))errors.push(`${p}: additional ${k}`)};if(!obj(o))errors.push('$: object required');else{keys(o,['schema_version','entities','facts','event_relations','story_arcs'],'$');if(o.schema_version!=='narrative-extraction.v1')errors.push('$.schema_version');for(const k of ['entities','facts','event_relations','story_arcs'])if(!arr(o[k]))errors.push(`$.${k}: array required`);if((o.entities||[]).length>500||(o.facts||[]).length>2000||(o.event_relations||[]).length>5000||(o.story_arcs||[]).length>200)errors.push('$: maxItems');}const source=(s,p)=>{if(!obj(s))return errors.push(`${p}: source object required`);for(const k of ['source_version_id','chapter_id','chapter_revision_id','quote','quote_hash'])if(!str(s[k]))errors.push(`${p}.${k}`);for(const k of ['start_utf8_byte','end_utf8_byte','start_codepoint','end_codepoint','confidence'])if(!num(s[k]))errors.push(`${p}.${k}`);if(!/^[0-9a-f]{64}$/.test(s.quote_hash||'')||s.confidence<0||s.confidence>1)errors.push(`${p}: hash/confidence`)};for(const [i,e] of (o?.entities||[]).entries()){if(!obj(e)||!str(e.local_id)||!['character','location','organization','object','concept'].includes(e.entity_type)||!str(e.canonical_name)||!arr(e.aliases))errors.push(`$.entities[${i}]`);source(e.source,`$.entities[${i}].source`)}for(const [i,f] of (o?.facts||[]).entries()){if(!obj(f)||!str(f.local_id)||!['event','character_state','timeline','foreshadowing','world_rule','relationship'].includes(f.fact_kind)||!str(f.statement))errors.push(`$.facts[${i}]`);source(f.source,`$.facts[${i}].source`);for(const [j,s] of (f.supporting_sources||[]).entries())source(s,`$.facts[${i}].supporting_sources[${j}]`);const detail={event:'event',character_state:'character_state',timeline:'timeline',foreshadowing:'foreshadowing',world_rule:'details',relationship:'details'}[f.fact_kind];if(!obj(f[detail]))errors.push(`$.facts[${i}].${detail}`);if(f.event&&!arr(f.event.participants))errors.push(`$.facts[${i}].event.participants`);for(const [j,p] of (f.event?.participants||[]).entries()){if(!str(p.entity_local_id)||!str(p.role))errors.push(`participant ${i}/${j}`);source(p.source,`participant ${i}/${j}.source`)}}for(const [i,r] of (o?.event_relations||[]).entries()){if(!str(r.from_event_local_id)||!str(r.to_event_local_id)||!['before','after','causes','enables','blocks','contradicts','parallel'].includes(r.relation_type)||!num(r.confidence))errors.push(`$.event_relations[${i}]`);source(r.source,`$.event_relations[${i}].source`)}for(const [i,a] of (o?.story_arcs||[]).entries()){if(!str(a.local_id)||!str(a.title)||!arr(a.event_local_ids)||!a.event_local_ids.length||!num(a.confidence))errors.push(`$.story_arcs[${i}]`);source(a.source,`$.story_arcs[${i}].source`)}if(errors.length)throw new Error('JSON_SCHEMA_INVALID: '+errors.slice(0,12).join('; '));return [{json:x}];"},
      "id": "02a-schema", "name": "JSON Schema Validate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [480,80], "onError":"continueErrorOutput"
    },
    {
      "parameters": {"jsCode":"const crypto=require('crypto'),x=$json,o=x.extraction,w=x.window,errors=[];const entities=new Set(),facts=new Set(),events=new Map(),sources=[];const add=(set,id,code)=>set.has(id)?errors.push(`${code}:${id}`):set.add(id);for(const e of o.entities){add(entities,e.local_id,'DUPLICATE_ENTITY');sources.push(e.source)}for(const f of o.facts){add(facts,f.local_id,'DUPLICATE_FACT');sources.push(f.source,...(f.supporting_sources||[]));if(f.fact_kind==='event')events.set(f.local_id,f);if(f.event){if(f.event.location_entity_local_id&&!entities.has(f.event.location_entity_local_id))errors.push('UNKNOWN_ENTITY_REFERENCE');for(const p of f.event.participants){if(!entities.has(p.entity_local_id))errors.push('UNKNOWN_ENTITY_REFERENCE');sources.push(p.source)}}}for(const f of o.facts){const s=f.character_state;if(s){if(!entities.has(s.character_entity_local_id))errors.push('UNKNOWN_ENTITY_REFERENCE');if(s.trigger_event_local_id&&!events.has(s.trigger_event_local_id))errors.push('UNKNOWN_EVENT_REFERENCE')}const t=f.timeline;if(t){if(t.subject_entity_local_id&&!entities.has(t.subject_entity_local_id))errors.push('UNKNOWN_ENTITY_REFERENCE');if(t.event_local_id&&!events.has(t.event_local_id))errors.push('UNKNOWN_EVENT_REFERENCE')}if(f.foreshadowing?.event_local_id&&!events.has(f.foreshadowing.event_local_id))errors.push('UNKNOWN_EVENT_REFERENCE')}const graph=new Map();for(const r of o.event_relations){if(!events.has(r.from_event_local_id)||!events.has(r.to_event_local_id))errors.push('UNKNOWN_EVENT_REFERENCE');if(r.from_event_local_id===r.to_event_local_id)errors.push('SELF_EVENT_RELATION');sources.push(r.source);if(['causes','enables'].includes(r.relation_type)){if(!graph.has(r.from_event_local_id))graph.set(r.from_event_local_id,[]);graph.get(r.from_event_local_id).push(r.to_event_local_id)}const a=events.get(r.from_event_local_id)?.event?.narrative_order,b=events.get(r.to_event_local_id)?.event?.narrative_order;if(r.relation_type==='before'&&a>=b)errors.push('TIMELINE_ORDER_CONFLICT');if(r.relation_type==='after'&&a<=b)errors.push('TIMELINE_ORDER_CONFLICT')}const visiting=new Set(),done=new Set(),visit=n=>{if(visiting.has(n))return true;if(done.has(n))return false;visiting.add(n);for(const m of graph.get(n)||[])if(visit(m))return true;visiting.delete(n);done.add(n);return false};for(const n of graph.keys())if(visit(n)){errors.push('CAUSAL_CYCLE');break}for(const a of o.story_arcs){for(const id of a.event_local_ids)if(!events.has(id))errors.push('UNKNOWN_EVENT_REFERENCE');sources.push(a.source)}const chars=Array.from(w.content);for(const s of sources){if(s.source_version_id!==x.source_version_id||s.chapter_id!==w.chapter_id||s.chapter_revision_id!==w.chapter_revision_id){errors.push('SOURCE_ID_MISMATCH');continue}const a=s.start_codepoint-w.start_codepoint,b=s.end_codepoint-w.start_codepoint;if(a<0||b>chars.length||a>=b){errors.push('SOURCE_SPAN_OUT_OF_WINDOW');continue}const quote=chars.slice(a,b).join(''),sb=w.start_utf8_byte+Buffer.byteLength(chars.slice(0,a).join(''),'utf8'),eb=w.start_utf8_byte+Buffer.byteLength(chars.slice(0,b).join(''),'utf8');if(quote!==s.quote||sb!==s.start_utf8_byte||eb!==s.end_utf8_byte||crypto.createHash('sha256').update(quote).digest('hex')!==s.quote_hash)errors.push('SOURCE_SPAN_MISMATCH')}if(errors.length)throw new Error('BUSINESS_VALIDATION_FAILED: '+[...new Set(errors)].join(','));const canonical=JSON.stringify(o);const output_hash=crypto.createHash('sha256').update(canonical).digest('hex');return [{json:{...x,validated_window:{window_key:w.window_key,window:w,extraction:o,output_hash,validated_at:new Date().toISOString()}}}];"},
      "id": "02a-business", "name": "Business Validate Provenance and References", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [700,80], "onError":"continueErrorOutput"
    },
    {
      "parameters": {"operation":"executeQuery","query":"SELECT cp.* FROM drama.operations current_op CROSS JOIN LATERAL drama.checkpoint_operation($1::text,$2::uuid,CASE WHEN $8::boolean THEN 'validating' ELSE 'running' END,$3,$4,jsonb_set(current_op.checkpoint_data,'{windows}',coalesce((SELECT jsonb_agg(item) FROM jsonb_array_elements(coalesce(current_op.checkpoint_data->'windows','[]'::jsonb)) item WHERE item->>'window_key'<>$5),'[]'::jsonb)||$6::jsonb,true)||jsonb_build_object('schema_version','narrative-extraction.v1','last_window_hash',$7::text,'extraction_complete',$8::boolean,'selected_chapter_ids',$9::jsonb)) cp WHERE current_op.operation_id=$1 AND current_op.claim_token=$2::uuid;","options":{"queryReplacement":"={{ [$json.operation_id,$json.claim_token,$json.ready_for_reconcile?'ready_for_reconcile':'window_validated',$json.next_cursor,$json.window.window_key,JSON.stringify([$json.validated_window]),$json.validated_window.output_hash,$json.ready_for_reconcile,JSON.stringify($json.selected_chapter_ids)] }}"}},
      "id": "02a-checkpoint", "name": "Checkpoint Validated Window", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [920,80],
      "credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}
    },
    {
      "parameters": {"operation":"executeQuery","query":"SELECT cp.* FROM drama.operations current_op CROSS JOIN LATERAL drama.checkpoint_operation($1::text,$2::uuid,'validating','ready_for_reconcile',NULL,current_op.checkpoint_data||jsonb_build_object('schema_version','narrative-extraction.v1','extraction_complete',true)) cp WHERE current_op.operation_id=$1 AND current_op.claim_token=$2::uuid;","options":{"queryReplacement":"={{ [$json.operation_id,$json.claim_token] }}"}},
      "id": "02a-ready", "name": "Checkpoint Ready Without More Windows", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [40,-120],
      "credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}
    },
    {
      "parameters": {"jsCode":"return [{json:{success:true,operation_id:$json.operation_id,trace_id:$json.trace_id,status:$json.checkpoint_stage,next_cursor:$json.checkpoint_cursor,ir_revision_id:$json.target_id}}];"},
      "id": "02a-result", "name": "Window Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140,0]
    }
  ],
  "connections": {
    "Sub-workflow Trigger":{"main":[[{"node":"Normalize Worker Request","type":"main","index":0}]]},
    "Normalize Worker Request":{"main":[[{"node":"Claim IR Operation","type":"main","index":0}]]},
    "Claim IR Operation":{"main":[[{"node":"Verify Claimed Operation","type":"main","index":0}]]},
    "Verify Claimed Operation":{"main":[[{"node":"Load One Bounded Chapter Window","type":"main","index":0}]]},
    "Load One Bounded Chapter Window":{"main":[[{"node":"Build Codepoint-bounded Slice","type":"main","index":0}]]},
    "Build Codepoint-bounded Slice":{"main":[[{"node":"Has Source Window?","type":"main","index":0}]]},
    "Has Source Window?":{"main":[[{"node":"Call Narrative Extraction Model","type":"main","index":0}],[{"node":"Checkpoint Ready Without More Windows","type":"main","index":0}]]},
    "Call Narrative Extraction Model":{"main":[[{"node":"Parse Model JSON","type":"main","index":0}]]},
    "Parse Model JSON":{"main":[[{"node":"JSON Schema Validate","type":"main","index":0}]]},
    "JSON Schema Validate":{"main":[[{"node":"Business Validate Provenance and References","type":"main","index":0}]]},
    "Business Validate Provenance and References":{"main":[[{"node":"Checkpoint Validated Window","type":"main","index":0}]]},
    "Checkpoint Validated Window":{"main":[[{"node":"Window Result","type":"main","index":0}]]},
    "Checkpoint Ready Without More Windows":{"main":[[{"node":"Window Result","type":"main","index":0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none"},
  "versionId": "a62e5f74-4bde-4cae-9fd4-020a00000001",
  "meta": {"templateCredsSetupCompleted":false},
  "tags": []
}
