ai-short-drama/workflows/02b-narrative-ir-reconcile.json
{
  "name": "02b Narrative IR 合并发布",
  "nodes": [
    {
      "parameters":{"workflowInputs":{"values":[{"name":"operation_id"},{"name":"claim_token"},{"name":"worker_id"}]}},
      "id":"02b-trigger","name":"Sub-workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1120,0]
    },
    {
      "parameters":{"jsCode":"const i=$json;if(!i.operation_id||!i.claim_token||!i.worker_id)throw new Error('INVALID_INPUT: operation_id, claim_token and worker_id are required');return [{json:{operation_id:String(i.operation_id),claim_token:String(i.claim_token),worker_id:String(i.worker_id)}}];"},
      "id":"02b-normalize","name":"Normalize Reconcile Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-900,0]
    },
    {
      "parameters":{"operation":"executeQuery","query":"WITH claim AS (SELECT (drama.assert_operation_claim($1::text,$2::uuid)).*) SELECT claim.operation_id,claim.trace_id,claim.claim_token::text,claim.lease_owner,claim.checkpoint_stage,claim.checkpoint_cursor,claim.checkpoint_data,ir.ir_revision_id,ir.work_id,ir.source_version_id,ir.status AS ir_status,ir.schema_version FROM claim JOIN drama.narrative_ir_revisions ir ON ir.ir_revision_id=claim.target_id WHERE claim.operation_type='ir_extraction' AND claim.target_type='ir_revision' AND claim.lease_owner=$3 AND claim.checkpoint_stage='ready_for_reconcile' AND ir.status IN ('staging','validating');","options":{"queryReplacement":"={{ [$json.operation_id,$json.claim_token,$json.worker_id] }}"}},
      "id":"02b-load","name":"Assert Fenced Claim and Load Windows","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-680,0],
      "credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"
    },
    {
      "parameters":{"jsCode":"const crypto=require('crypto'),x=$json,cp=x.checkpoint_data||{},ws=cp.windows;if(!x.operation_id||!Array.isArray(ws)||!ws.length)throw new Error('RECONCILE_INPUT_INVALID: ready checkpoint with windows required');if(cp.schema_version!=='narrative-extraction.v1')throw new Error('RECONCILE_SCHEMA_MISMATCH');const seen=new Set(),coveredChapters=new Set(),chapterTotals=new Map(),sorted=[...ws].sort((a,b)=>a.window.ordinal-b.window.ordinal||a.window.start_codepoint-b.window.start_codepoint);const selected=Array.isArray(cp.selected_chapter_ids)?cp.selected_chapter_ids:[];if(!selected.length)throw new Error('SELECTED_CHAPTER_SET_MISSING');let prev=null;for(const item of sorted){const w=item.window,o=item.extraction;if(!w||!o||o.schema_version!=='narrative-extraction.v1'||!Array.isArray(o.entities)||!Array.isArray(o.facts)||!Array.isArray(o.event_relations)||!Array.isArray(o.story_arcs))throw new Error('JSON_SCHEMA_INVALID: malformed checkpoint window');if(seen.has(item.window_key)||item.window_key!==w.window_key)throw new Error('DUPLICATE_WINDOW_KEY');seen.add(item.window_key);const digest=crypto.createHash('sha256').update(JSON.stringify(o)).digest('hex');if(digest!==item.output_hash)throw new Error('CHECKPOINT_HASH_MISMATCH');if(!Number.isInteger(w.chapter_total_codepoints)||w.chapter_total_codepoints<1||w.end_codepoint>w.chapter_total_codepoints)throw new Error('CHAPTER_TOTAL_INVALID');if(chapterTotals.has(w.chapter_id)&&chapterTotals.get(w.chapter_id)!==w.chapter_total_codepoints)throw new Error('CHAPTER_TOTAL_MISMATCH');chapterTotals.set(w.chapter_id,w.chapter_total_codepoints);if(prev){if(w.chapter_id===prev.chapter_id){if(w.start_codepoint!==prev.end_codepoint)throw new Error('WINDOW_COVERAGE_GAP')}else{if(prev.end_codepoint!==prev.chapter_total_codepoints)throw new Error('CHAPTER_TAIL_MISSING');if(w.start_codepoint!==0)throw new Error('WINDOW_COVERAGE_GAP')}}else if(w.start_codepoint!==0)throw new Error('WINDOW_COVERAGE_GAP');if(!selected.includes(w.chapter_id))throw new Error('CHAPTER_OUTSIDE_SCOPE');if(Array.isArray(cp.chapter_ids)&&cp.chapter_ids.length&&!cp.chapter_ids.includes(w.chapter_id))throw new Error('CHAPTER_OUTSIDE_SCOPE');coveredChapters.add(w.chapter_id);const chars=Array.from(w.content),entityIds=new Set(o.entities.map(e=>e.local_id)),eventIds=new Set(o.facts.filter(f=>f.fact_kind==='event').map(f=>f.local_id)),sources=[];for(const e of o.entities)sources.push(e.source);for(const f of o.facts){sources.push(f.source,...(f.supporting_sources||[]));if(f.event){for(const p of f.event.participants||[]){if(!entityIds.has(p.entity_local_id))throw new Error('UNKNOWN_ENTITY_REFERENCE');sources.push(p.source)}if(f.event.location_entity_local_id&&!entityIds.has(f.event.location_entity_local_id))throw new Error('UNKNOWN_ENTITY_REFERENCE')}if(f.character_state&&!entityIds.has(f.character_state.character_entity_local_id))throw new Error('UNKNOWN_ENTITY_REFERENCE');if(f.character_state?.trigger_event_local_id&&!eventIds.has(f.character_state.trigger_event_local_id))throw new Error('UNKNOWN_EVENT_REFERENCE');if(f.timeline?.event_local_id&&!eventIds.has(f.timeline.event_local_id))throw new Error('UNKNOWN_EVENT_REFERENCE');if(f.timeline?.subject_entity_local_id&&!entityIds.has(f.timeline.subject_entity_local_id))throw new Error('UNKNOWN_ENTITY_REFERENCE');if(f.foreshadowing?.event_local_id&&!eventIds.has(f.foreshadowing.event_local_id))throw new Error('UNKNOWN_EVENT_REFERENCE')}for(const r of o.event_relations){if(!eventIds.has(r.from_event_local_id)||!eventIds.has(r.to_event_local_id))throw new Error('UNKNOWN_EVENT_REFERENCE');sources.push(r.source)}for(const a of o.story_arcs){if(!(a.event_local_ids||[]).every(id=>eventIds.has(id)))throw new Error('UNKNOWN_EVENT_REFERENCE');sources.push(a.source)}for(const s of sources){if(s.source_version_id!==x.source_version_id||s.chapter_id!==w.chapter_id||s.chapter_revision_id!==w.chapter_revision_id)throw new Error('SOURCE_ID_MISMATCH');const a=s.start_codepoint-w.start_codepoint,b=s.end_codepoint-w.start_codepoint,quote=chars.slice(a,b).join(''),sb=w.start_utf8_byte+Buffer.byteLength(chars.slice(0,a).join(''),'utf8'),eb=w.start_utf8_byte+Buffer.byteLength(chars.slice(0,b).join(''),'utf8');if(a<0||b>chars.length||a>=b||quote!==s.quote||sb!==s.start_utf8_byte||eb!==s.end_utf8_byte||crypto.createHash('sha256').update(quote).digest('hex')!==s.quote_hash)throw new Error('SOURCE_SPAN_MISMATCH')}prev=w}if(!prev||prev.end_codepoint!==prev.chapter_total_codepoints)throw new Error('CHAPTER_TAIL_MISSING');const expectedSet=new Set(selected);if(expectedSet.size!==selected.length||coveredChapters.size!==expectedSet.size||[...expectedSet].some(id=>!coveredChapters.has(id)))throw new Error('SELECTED_CHAPTER_COVERAGE_MISMATCH');if(Array.isArray(cp.chapter_ids)&&cp.chapter_ids.length&&(cp.chapter_ids.length!==expectedSet.size||cp.chapter_ids.some(id=>!expectedSet.has(id))))throw new Error('SELECTED_CHAPTER_SET_MISMATCH');return [{json:{...x,windows:sorted}}];"},
      "id":"02b-revalidate","name":"Revalidate All Windows","type":"n8n-nodes-base.code","typeVersion":2,"position":[-460,0],"onError":"continueErrorOutput"
    },
    {
      "parameters":{"jsCode":"const crypto=require('crypto'),x=$json,norm=s=>String(s||'').normalize('NFKC').toLowerCase().replace(/\\s+/g,' ').trim(),hash=s=>crypto.createHash('sha256').update(String(s)).digest('hex'),id=(p,s)=>`${p}_${hash(s).slice(0,32)}`;const spans=new Map(),entities=new Map(),facts=new Map(),eventByLocal=new Map(),participants=new Map(),relations=new Map(),states=[],timelines=[],threads=new Map(),occurrences=[],arcs=new Map(),diagnostics=[];const span=s=>{const key=[s.source_version_id,s.chapter_id,s.chapter_revision_id,s.start_codepoint,s.end_codepoint,s.quote_hash].join('|');if(!spans.has(key))spans.set(key,{source_span_id:id('ssp',key),...s,idempotency_key:`phase2:span:${hash(key)}`});return spans.get(key).source_span_id};for(const item of x.windows){const o=item.extraction,wk=item.window_key,localEntities=new Map(),localEvents=new Map();for(const e of o.entities){const stable_key=`${e.entity_type}:${norm(e.canonical_name)}`,source_span_id=span(e.source);localEntities.set(e.local_id,stable_key);const prior=entities.get(stable_key),candidate={stable_key,entity_id:id('ne',`${x.work_id}|${stable_key}`),entity_revision_id:id('ner',`${x.ir_revision_id}|${stable_key}`),entity_type:e.entity_type,canonical_name:e.canonical_name,attributes:e.attributes||{},confidence:e.source.confidence,chapter_id:e.source.chapter_id,chapter_revision_id:e.source.chapter_revision_id,source_span_id,aliases:new Set(e.aliases||[])};if(prior){for(const a of candidate.aliases)prior.aliases.add(a);if(candidate.confidence>prior.confidence){const aliases=prior.aliases;Object.assign(prior,candidate);prior.aliases=aliases}}else entities.set(stable_key,candidate)}for(const f of o.facts){const stable_key=`${f.fact_kind}:${hash(norm(f.statement))}`,source_span_id=span(f.source),fingerprint=hash(`${f.fact_kind}|${norm(f.statement)}`),candidate={stable_key,fact_id:id('nf',`${x.work_id}|${stable_key}`),fact_revision_id:id('nfr',`${x.ir_revision_id}|${stable_key}`),fact_kind:f.fact_kind,statement:f.statement,canonical_fingerprint:fingerprint,confidence:f.source.confidence,chapter_id:f.source.chapter_id,chapter_revision_id:f.source.chapter_revision_id,source_span_id,payload:f,evidence:new Map()};candidate.evidence.set(source_span_id,{source_span_id,evidence_role:'primary',confidence:f.source.confidence});for(const s of f.supporting_sources||[]){const sid=span(s);candidate.evidence.set(sid,{source_span_id:sid,evidence_role:'supporting',confidence:s.confidence})}const prior=facts.get(stable_key);if(prior){for(const [k,v] of candidate.evidence)prior.evidence.set(k,v);if(candidate.confidence>prior.confidence){candidate.evidence=prior.evidence;facts.set(stable_key,candidate)}}else facts.set(stable_key,candidate);if(f.fact_kind==='event')localEvents.set(f.local_id,stable_key)}for(const f of o.facts){const stable_key=`${f.fact_kind}:${hash(norm(f.statement))}`,fact=facts.get(stable_key);if(f.event){const event_revision_id=id('nev',`${x.ir_revision_id}|${stable_key}`);eventByLocal.set(`${wk}|${f.local_id}`,{stable_key,event_revision_id});fact.event={event_revision_id,event_type:f.event.event_type,summary:f.event.summary,narrative_order:Number(f.event.narrative_order),temporal_expression:f.event.temporal_expression||null,location_entity_revision_id:f.event.location_entity_local_id?id('ner',`${x.ir_revision_id}|${localEntities.get(f.event.location_entity_local_id)}`):null,importance:Number(f.event.importance??0.5)};for(const p of f.event.participants||[]){const entity_stable_key=localEntities.get(p.entity_local_id),source_span_id=span(p.source),key=[event_revision_id,entity_stable_key,p.role].join('|');participants.set(key,{event_participant_id:id('ep',`${x.ir_revision_id}|${key}`),event_revision_id,entity_revision_id:id('ner',`${x.ir_revision_id}|${entity_stable_key}`),participant_role:p.role,participation_state:p.state||{},source_span_id,confidence:p.source.confidence})}}if(f.character_state){const s=f.character_state;states.push({state_change_id:id('csc',`${x.ir_revision_id}|${stable_key}`),fact_revision_id:fact.fact_revision_id,character_entity_revision_id:id('ner',`${x.ir_revision_id}|${localEntities.get(s.character_entity_local_id)}`),state_dimension:s.dimension,before_state:s.before,after_state:s.after,trigger_event_revision_id:s.trigger_event_local_id?id('nev',`${x.ir_revision_id}|${localEvents.get(s.trigger_event_local_id)}`):null,sequence_number:Number(s.sequence_number)})}if(f.timeline){const t=f.timeline;timelines.push({timeline_fact_id:id('tlf',`${x.ir_revision_id}|${stable_key}`),fact_revision_id:fact.fact_revision_id,subject_entity_revision_id:t.subject_entity_local_id?id('ner',`${x.ir_revision_id}|${localEntities.get(t.subject_entity_local_id)}`):null,event_revision_id:t.event_local_id?id('nev',`${x.ir_revision_id}|${localEvents.get(t.event_local_id)}`):null,temporal_expression:t.temporal_expression,normalized_time:t.normalized_time||{},timeline_order:t.timeline_order??null,certainty:t.certainty})}if(f.foreshadowing){const v=f.foreshadowing,thread_key=`thread:${norm(v.thread_local_id)}`;if(!threads.has(thread_key))threads.set(thread_key,{stable_key:thread_key,foreshadow_thread_id:id('fst',`${x.work_id}|${thread_key}`),title:v.thread_local_id});occurrences.push({foreshadow_occurrence_id:id('fso',`${x.ir_revision_id}|${stable_key}`),thread_stable_key:thread_key,foreshadow_thread_id:id('fst',`${x.work_id}|${thread_key}`),fact_revision_id:fact.fact_revision_id,event_revision_id:v.event_local_id?id('nev',`${x.ir_revision_id}|${localEvents.get(v.event_local_id)}`):null,lifecycle_stage:v.stage,occurrence_order:Number(v.occurrence_order)})}}for(const r of o.event_relations){const from=eventByLocal.get(`${wk}|${r.from_event_local_id}`),to=eventByLocal.get(`${wk}|${r.to_event_local_id}`),source_span_id=span(r.source),key=[from.event_revision_id,to.event_revision_id,r.relation_type].join('|');relations.set(key,{event_relation_id:id('er',`${x.ir_revision_id}|${key}`),from_event_revision_id:from.event_revision_id,to_event_revision_id:to.event_revision_id,relation_type:r.relation_type,source_span_id,confidence:r.confidence})}for(const a of o.story_arcs){const stable_key=`arc:${norm(a.title)}`,source_span_id=span(a.source),prior=arcs.get(stable_key)||{stable_key,story_arc_id:id('sa',`${x.work_id}|${stable_key}`),story_arc_revision_id:id('sar',`${x.ir_revision_id}|${stable_key}`),title:a.title,summary:a.summary||'',arc_type:a.arc_type||'main',confidence:a.confidence,chapter_id:a.source.chapter_id,chapter_revision_id:a.source.chapter_revision_id,source_span_id,event_revision_ids:new Set()};for(const eventLocalId of a.event_local_ids)prior.event_revision_ids.add(eventByLocal.get(`${wk}|${eventLocalId}`).event_revision_id);if(a.confidence>prior.confidence)prior.confidence=a.confidence;arcs.set(stable_key,prior)}}const causal=new Map();for(const r of relations.values())if(['causes','enables'].includes(r.relation_type)){if(!causal.has(r.from_event_revision_id))causal.set(r.from_event_revision_id,[]);causal.get(r.from_event_revision_id).push(r.to_event_revision_id)}const visiting=new Set(),done=new Set(),visit=n=>{if(visiting.has(n))return true;if(done.has(n))return false;visiting.add(n);for(const m of causal.get(n)||[])if(visit(m))return true;visiting.delete(n);done.add(n);return false};for(const n of causal.keys())if(visit(n))throw new Error('CAUSAL_CYCLE: reconciled causal graph is cyclic');const entityList=[...entities.values()].map(e=>({...e,aliases:[...e.aliases].sort()})).sort((a,b)=>a.stable_key.localeCompare(b.stable_key));const factList=[...facts.values()].map(f=>({...f,evidence:[...f.evidence.values()]})).sort((a,b)=>a.stable_key.localeCompare(b.stable_key));const arcList=[...arcs.values()].map(a=>({...a,event_revision_ids:[...a.event_revision_ids]})).sort((a,b)=>a.stable_key.localeCompare(b.stable_key));const doc={schema_version:'narrative-ir-publish.v1',spans:[...spans.values()],entities:entityList,facts:factList,participants:[...participants.values()],relations:[...relations.values()],states,timelines,threads:[...threads.values()],occurrences,arcs:arcList,diagnostics};const output_hash=hash(JSON.stringify(doc));return [{json:{...x,publish_document:doc,output_hash,validation_summary:{schema_version:'narrative-extraction.v1',window_count:x.windows.length,entity_count:entityList.length,fact_count:factList.length,diagnostics,validated:true}}}];"},
      "id":"02b-reconcile","name":"Deterministic Cross-window Reconcile","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,0],"onError":"continueErrorOutput"
    },
    {
      "parameters":{"operation":"executeQuery","query":"WITH claim AS (SELECT (drama.assert_operation_claim($1::text,$2::uuid)).*), doc AS (SELECT $3::jsonb AS value), ctx AS (SELECT ir.ir_revision_id,ir.work_id,ir.source_version_id,ir.revision_scope FROM claim JOIN drama.narrative_ir_revisions ir ON ir.ir_revision_id=claim.target_id CROSS JOIN doc WHERE ir.status IN ('staging','validating')), spans AS (INSERT INTO drama.source_spans(source_span_id,work_id,source_version_id,chapter_id,chapter_revision_id,start_utf8_byte,end_utf8_byte,start_codepoint,end_codepoint,start_paragraph,end_paragraph,excerpt_hash,evidence_text,idempotency_key) SELECT s.source_span_id,ctx.work_id,ctx.source_version_id,s.chapter_id,s.chapter_revision_id,s.start_utf8_byte,s.end_utf8_byte,s.start_codepoint,s.end_codepoint,s.start_paragraph,s.end_paragraph,s.quote_hash,s.quote,s.idempotency_key FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'spans') AS s(source_span_id text,chapter_id text,chapter_revision_id text,start_utf8_byte int,end_utf8_byte int,start_codepoint int,end_codepoint int,start_paragraph int,end_paragraph int,quote_hash text,quote text,idempotency_key text) ON CONFLICT(idempotency_key) DO NOTHING RETURNING source_span_id), entity_ids AS (INSERT INTO drama.narrative_entities(entity_id,work_id,entity_type,stable_key) SELECT e.entity_id,ctx.work_id,e.entity_type,e.stable_key FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'entities') AS e(entity_id text,entity_type text,stable_key text) ON CONFLICT(work_id,stable_key) DO NOTHING RETURNING entity_id), entity_revisions AS (INSERT INTO drama.narrative_entity_revisions(entity_revision_id,entity_id,ir_revision_id,work_id,source_version_id,chapter_id,primary_chapter_revision_id,primary_source_span_id,canonical_name,attributes,confidence,validation_status,idempotency_key) SELECT r.entity_revision_id,r.entity_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,r.chapter_id,r.chapter_revision_id,r.source_span_id,r.canonical_name,r.attributes,r.confidence,'valid','phase2:entity-revision:'||r.entity_revision_id FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'entities') AS r(entity_revision_id text,entity_id text,stable_key text,chapter_id text,chapter_revision_id text,source_span_id text,canonical_name text,attributes jsonb,confidence numeric) RETURNING entity_revision_id), aliases AS (INSERT INTO drama.narrative_entity_aliases(entity_alias_id,entity_revision_id,alias) SELECT 'nea_'||substr(encode(drama.digest(r.entity_revision_id||'|'||a.alias,'sha256'),'hex'),1,32),r.entity_revision_id,a.alias FROM doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'entities') AS r(entity_revision_id text,aliases jsonb) CROSS JOIN LATERAL jsonb_array_elements_text(r.aliases) a(alias) ON CONFLICT(entity_revision_id,alias) DO NOTHING RETURNING entity_alias_id), fact_ids AS (INSERT INTO drama.narrative_facts(fact_id,work_id,fact_kind,stable_key) SELECT f.fact_id,ctx.work_id,f.fact_kind,f.stable_key FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'facts') AS f(fact_id text,fact_kind text,stable_key text) ON CONFLICT(work_id,stable_key) DO NOTHING RETURNING fact_id), fact_revisions AS (INSERT INTO drama.narrative_fact_revisions(fact_revision_id,fact_id,ir_revision_id,work_id,source_version_id,chapter_id,primary_chapter_revision_id,primary_source_span_id,canonical_fingerprint,confidence,payload,validation_status,idempotency_key) SELECT r.fact_revision_id,r.fact_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,r.chapter_id,r.chapter_revision_id,r.source_span_id,r.canonical_fingerprint,r.confidence,r.payload,'valid','phase2:fact-revision:'||r.fact_revision_id FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'facts') AS r(fact_revision_id text,fact_id text,stable_key text,chapter_id text,chapter_revision_id text,source_span_id text,canonical_fingerprint text,confidence numeric,payload jsonb) RETURNING fact_revision_id), evidence AS (INSERT INTO drama.fact_evidence(fact_evidence_id,fact_revision_id,ir_revision_id,work_id,source_version_id,source_span_id,evidence_role,confidence,idempotency_key) SELECT 'fev_'||substr(encode(drama.digest(r.fact_revision_id||'|'||ev.source_span_id||'|'||ev.evidence_role,'sha256'),'hex'),1,32),r.fact_revision_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,ev.source_span_id,ev.evidence_role,ev.confidence,'phase2:evidence:'||r.fact_revision_id||':'||ev.source_span_id||':'||ev.evidence_role FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'facts') AS r(fact_revision_id text,evidence jsonb) CROSS JOIN LATERAL jsonb_to_recordset(r.evidence) ev(source_span_id text,evidence_role text,confidence numeric) RETURNING fact_evidence_id), events AS (INSERT INTO drama.narrative_event_revisions(event_revision_id,fact_revision_id,ir_revision_id,work_id,source_version_id,event_type,summary,narrative_order,temporal_expression,location_entity_revision_id,importance) SELECT ev.event_revision_id,r.fact_revision_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,ev.event_type,ev.summary,ev.narrative_order,ev.temporal_expression,ev.location_entity_revision_id,ev.importance FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'facts') AS r(fact_revision_id text,event jsonb) CROSS JOIN LATERAL jsonb_to_record(r.event) ev(event_revision_id text,event_type text,summary text,narrative_order numeric,temporal_expression text,location_entity_revision_id text,importance numeric) WHERE r.event IS NOT NULL RETURNING event_revision_id), participants AS (INSERT INTO drama.event_participants(event_participant_id,event_revision_id,entity_revision_id,ir_revision_id,work_id,source_version_id,participant_role,participation_state,source_span_id,confidence,idempotency_key) SELECT p.event_participant_id,p.event_revision_id,p.entity_revision_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,p.participant_role,p.participation_state,p.source_span_id,p.confidence,'phase2:participant:'||p.event_participant_id FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'participants') p(event_participant_id text,event_revision_id text,entity_revision_id text,participant_role text,participation_state jsonb,source_span_id text,confidence numeric) RETURNING event_participant_id), relations AS (INSERT INTO drama.event_relations(event_relation_id,from_event_revision_id,to_event_revision_id,relation_type,ir_revision_id,work_id,source_version_id,source_span_id,confidence,idempotency_key) SELECT r.event_relation_id,r.from_event_revision_id,r.to_event_revision_id,r.relation_type,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,r.source_span_id,r.confidence,'phase2:relation:'||r.event_relation_id FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'relations') r(event_relation_id text,from_event_revision_id text,to_event_revision_id text,relation_type text,source_span_id text,confidence numeric) RETURNING event_relation_id), states AS (INSERT INTO drama.character_state_changes(state_change_id,fact_revision_id,character_entity_revision_id,ir_revision_id,work_id,source_version_id,state_dimension,before_state,after_state,trigger_event_revision_id,sequence_number) SELECT s.state_change_id,s.fact_revision_id,s.character_entity_revision_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,s.state_dimension,s.before_state,s.after_state,s.trigger_event_revision_id,s.sequence_number FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'states') s(state_change_id text,fact_revision_id text,character_entity_revision_id text,state_dimension text,before_state jsonb,after_state jsonb,trigger_event_revision_id text,sequence_number numeric) RETURNING state_change_id), timelines AS (INSERT INTO drama.timeline_facts(timeline_fact_id,fact_revision_id,subject_entity_revision_id,event_revision_id,ir_revision_id,work_id,source_version_id,temporal_expression,normalized_time,timeline_order,certainty) SELECT t.timeline_fact_id,t.fact_revision_id,t.subject_entity_revision_id,t.event_revision_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,t.temporal_expression,t.normalized_time,t.timeline_order,t.certainty FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'timelines') t(timeline_fact_id text,fact_revision_id text,subject_entity_revision_id text,event_revision_id text,temporal_expression text,normalized_time jsonb,timeline_order numeric,certainty text) RETURNING timeline_fact_id), thread_ids AS (INSERT INTO drama.foreshadow_threads(foreshadow_thread_id,work_id,stable_key,title) SELECT t.foreshadow_thread_id,ctx.work_id,t.stable_key,t.title FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'threads') t(foreshadow_thread_id text,stable_key text,title text) ON CONFLICT(work_id,stable_key) DO NOTHING RETURNING foreshadow_thread_id), foreshadows AS (INSERT INTO drama.foreshadow_occurrences(foreshadow_occurrence_id,foreshadow_thread_id,fact_revision_id,event_revision_id,ir_revision_id,work_id,source_version_id,lifecycle_stage,occurrence_order) SELECT o.foreshadow_occurrence_id,o.foreshadow_thread_id,o.fact_revision_id,o.event_revision_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,o.lifecycle_stage,o.occurrence_order FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'occurrences') o(foreshadow_occurrence_id text,thread_stable_key text,foreshadow_thread_id text,fact_revision_id text,event_revision_id text,lifecycle_stage text,occurrence_order numeric) RETURNING foreshadow_occurrence_id), arc_ids AS (INSERT INTO drama.story_arcs(story_arc_id,work_id,stable_key) SELECT a.story_arc_id,ctx.work_id,a.stable_key FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'arcs') a(story_arc_id text,stable_key text) ON CONFLICT(work_id,stable_key) DO NOTHING RETURNING story_arc_id), arc_revisions AS (INSERT INTO drama.story_arc_revisions(story_arc_revision_id,story_arc_id,ir_revision_id,work_id,source_version_id,chapter_id,primary_chapter_revision_id,primary_source_span_id,title,summary,arc_type,confidence,idempotency_key) SELECT a.story_arc_revision_id,a.story_arc_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,a.chapter_id,a.chapter_revision_id,a.source_span_id,a.title,a.summary,a.arc_type,a.confidence,'phase2:arc-revision:'||a.story_arc_revision_id FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'arcs') a(story_arc_revision_id text,story_arc_id text,stable_key text,chapter_id text,chapter_revision_id text,source_span_id text,title text,summary text,arc_type text,confidence numeric) RETURNING story_arc_revision_id), arc_events AS (INSERT INTO drama.story_arc_events(story_arc_event_id,story_arc_revision_id,event_revision_id,ir_revision_id,work_id,source_version_id,event_ordinal,arc_role,idempotency_key) SELECT 'sae_'||substr(encode(drama.digest(a.story_arc_revision_id||'|'||ev.event_revision_id,'sha256'),'hex'),1,32),a.story_arc_revision_id,ev.event_revision_id,ctx.ir_revision_id,ctx.work_id,ctx.source_version_id,ev.ordinal,CASE WHEN ev.ordinal=1 THEN 'setup' ELSE 'progression' END,'phase2:arc-event:'||a.story_arc_revision_id||':'||ev.event_revision_id FROM ctx CROSS JOIN doc CROSS JOIN LATERAL jsonb_to_recordset(doc.value->'arcs') a(story_arc_revision_id text,event_revision_ids jsonb) CROSS JOIN LATERAL jsonb_array_elements_text(a.event_revision_ids) WITH ORDINALITY ev(event_revision_id,ordinal) RETURNING story_arc_event_id), superseded AS (UPDATE drama.narrative_ir_revisions old SET status='superseded',is_current=false FROM ctx WHERE ctx.revision_scope='full' AND old.source_version_id=ctx.source_version_id AND old.is_current AND old.status='published' AND old.ir_revision_id<>ctx.ir_revision_id RETURNING old.ir_revision_id), published AS (UPDATE drama.narrative_ir_revisions ir SET status='published',is_current=(ctx.revision_scope='full'),output_hash=$4,validation_summary=$5::jsonb,published_at=now() FROM ctx WHERE ir.ir_revision_id=ctx.ir_revision_id AND ir.status IN ('staging','validating') AND (SELECT count(*) FROM spans)+(SELECT count(*) FROM entity_revisions)+(SELECT count(*) FROM aliases)+(SELECT count(*) FROM fact_revisions)+(SELECT count(*) FROM evidence)+(SELECT count(*) FROM events)+(SELECT count(*) FROM participants)+(SELECT count(*) FROM relations)+(SELECT count(*) FROM states)+(SELECT count(*) FROM timelines)+(SELECT count(*) FROM foreshadows)+(SELECT count(*) FROM arc_revisions)+(SELECT count(*) FROM arc_events)+(SELECT count(*) FROM superseded)>=0 RETURNING ir.*), finished AS (SELECT done.* FROM published CROSS JOIN LATERAL drama.finish_operation($1::text,$2::uuid,'completed','ir_revision',published.ir_revision_id,NULL,NULL,NULL) done) SELECT operation_id,status,result_type,result_id FROM finished;","options":{"queryReplacement":"={{ [$json.operation_id,$json.claim_token,JSON.stringify($json.publish_document),$json.output_hash,JSON.stringify($json.validation_summary)] }}"}},
      "id":"02b-publish","name":"Atomic Publish Narrative IR","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],
      "credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"
    },
    {
      "parameters":{"jsCode":"return [{json:{success:true,operation_id:$json.operation_id,status:$json.status,ir_revision_id:$json.result_id}}];"},
      "id":"02b-result","name":"Published Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-80]
    },
    {
      "parameters":{"jsCode":"const request=$('Normalize Reconcile Request').first().json;const source=$json.error?.message||$json.message||'reconcile validation failed';const safe=String(source).replace(/[\\r\\n\\t]+/g,' ').replace(/(?:sk-|Bearer\\s+)[A-Za-z0-9._-]+/gi,'[REDACTED]').slice(0,1000);return [{json:{...request,error_code:(safe.split(':')[0]||'IR_RECONCILE_FAILED').replace(/[^A-Z0-9_]/gi,'_').toUpperCase(),error_message:safe}}];"},
      "id":"02b-sanitize","name":"Sanitize Quarantine Failure","type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,180]
    },
    {
      "parameters":{"operation":"executeQuery","query":"WITH claim AS (SELECT (drama.assert_operation_claim($1::text,$2::uuid)).*), rejected AS (UPDATE drama.narrative_ir_revisions ir SET status='rejected',is_current=false,validation_summary=jsonb_build_object('validated',false,'quarantined',true,'diagnostics',jsonb_build_array(jsonb_build_object('code',$3::text,'message',$4::text))) FROM claim WHERE ir.ir_revision_id=claim.target_id AND ir.status IN ('staging','validating') RETURNING ir.ir_revision_id), finished AS (SELECT done.* FROM rejected CROSS JOIN LATERAL drama.finish_operation($1::text,$2::uuid,'failed',NULL,NULL,$3,$4,false) done) SELECT operation_id,status,error_code,error_message FROM finished;","options":{"queryReplacement":"={{ [$json.operation_id,$json.claim_token,$json.error_code,$json.error_message] }}"}},
      "id":"02b-quarantine","name":"Atomically Quarantine Failed Batch","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[220,180],
      "credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}
    },
    {
      "parameters":{"jsCode":"return [{json:{success:false,operation_id:$json.operation_id,status:$json.status,error:{code:$json.error_code,message:$json.error_message}}}];"},
      "id":"02b-failed","name":"Quarantined Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,180]
    }
  ],
  "connections": {
    "Sub-workflow Trigger":{"main":[[{"node":"Normalize Reconcile Request","type":"main","index":0}]]},
    "Normalize Reconcile Request":{"main":[[{"node":"Assert Fenced Claim and Load Windows","type":"main","index":0}]]},
    "Assert Fenced Claim and Load Windows":{"main":[[{"node":"Revalidate All Windows","type":"main","index":0}],[{"node":"Sanitize Quarantine Failure","type":"main","index":0}]]},
    "Revalidate All Windows":{"main":[[{"node":"Deterministic Cross-window Reconcile","type":"main","index":0}],[{"node":"Sanitize Quarantine Failure","type":"main","index":0}]]},
    "Deterministic Cross-window Reconcile":{"main":[[{"node":"Atomic Publish Narrative IR","type":"main","index":0}],[{"node":"Sanitize Quarantine Failure","type":"main","index":0}]]},
    "Atomic Publish Narrative IR":{"main":[[{"node":"Published Result","type":"main","index":0}],[{"node":"Sanitize Quarantine Failure","type":"main","index":0}]]},
    "Sanitize Quarantine Failure":{"main":[[{"node":"Atomically Quarantine Failed Batch","type":"main","index":0}]]},
    "Atomically Quarantine Failed Batch":{"main":[[{"node":"Quarantined Result","type":"main","index":0}]]}
  },
  "pinData": {},
  "active": false,
  "settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none"},
  "versionId":"6f8dd777-c02b-41c8-88b4-020b00000001",
  "meta":{"templateCredsSetupCompleted":false},
  "tags":[]
}
