ai-short-drama/workflows/03-story-bible.json
{
  "name":"03 故事圣经","id":"wf_story_bible","active":false,
  "settings":{"executionOrder":"v1","saveManualExecutions":true,"timezone":"Asia/Taipei"},
  "nodes":[
    {"parameters":{"workflowInputs":{"values":[{"name":"project_id"},{"name":"episode_id"},{"name":"shot_id"},{"name":"stage"},{"name":"action"},{"name":"generation_version","type":"number"},{"name":"test_mode","type":"boolean"},{"name":"trace_id"},{"name":"payload","type":"object"}]}},"id":"03-trigger","name":"Sub-workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1260,0]},
    {"parameters":{"jsCode":"const crypto=require('crypto');const i=$json,p=i.payload||{};if(!i.project_id||!p.novel_id)throw new Error('INVALID_INPUT: project_id and payload.novel_id are required');const action=i.action||'run',v=Number(i.generation_version||1),key=p.idempotency_key||[i.project_id,'story_bible',p.novel_id,v,action].join(':');return [{json:{...i,stage:'story_bible',action,generation_version:v,trace_id:i.trace_id||`trace_${crypto.randomUUID()}`,task_id:`task_${crypto.randomUUID()}`,idempotency_key:key,payload:p,started_ms:Date.now()}}];"},"id":"03-normalize","name":"Validate and Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,0]},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO drama.workflow_tasks(task_id,trace_id,project_id,workflow_stage,action,entity_type,entity_id,generation_version,idempotency_key,status,max_retries,input_data,started_at) VALUES($1,$2,$3,'story_bible',$4,'novel',$5,$6,$7,'running',$8,$9::jsonb,now()) ON CONFLICT(idempotency_key) DO UPDATE SET status=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN ('retry','regenerate','resume') AND drama.workflow_tasks.retry_count<drama.workflow_tasks.max_retries THEN 'running' ELSE drama.workflow_tasks.status END,retry_count=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN ('retry','regenerate','resume') THEN drama.workflow_tasks.retry_count+1 ELSE drama.workflow_tasks.retry_count END RETURNING status,output_data,$10::jsonb AS request;","options":{"queryReplacement":"={{ [$json.task_id,$json.trace_id,$json.project_id,$json.action,$json.payload.novel_id,$json.generation_version,$json.idempotency_key,Number($env.MODEL_MAX_RETRIES||3),JSON.stringify($json),JSON.stringify($json)] }}"}},"id":"03-gate","name":"Idempotency Task Gate","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-820,0],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"03-cached-if","name":"Already Completed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,0]},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"03-cache","name":"Return Cached Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,-180]},
    {"parameters":{"jsCode":"if($json.status!=='running')throw new Error(`TASK_LOCKED_OR_RETRY_EXHAUSTED: ${$json.status}`);return [{json:$json.request}];"},"id":"03-restore","name":"Restore Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,40]},
    {"parameters":{"operation":"executeQuery","query":"SELECT chunk_id,chunk_index,analysis_status,analysis_result FROM drama.novel_chunks WHERE project_id=$1 AND novel_id=$2 ORDER BY chunk_index;","options":{"queryReplacement":"={{ [$json.project_id,$json.payload.novel_id] }}"}},"id":"03-load","name":"Load Chunk Analyses","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,40],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"mode":"runOnceForAllItems","jsCode":"const req=$('Restore Request').first().json,rows=$input.all().map(x=>x.json);if(!rows.length)throw new Error('MISSING_CHUNK_ANALYSIS: no chunks');const failed=rows.filter(r=>r.analysis_status!=='completed');const allow=String($env.ALLOW_PARTIAL_STORY_BIBLE||'false')==='true'||req.payload.allow_partial===true;if(failed.length&&!allow)throw new Error(`MISSING_CHUNK_ANALYSIS: ${failed.length} chunk(s) incomplete`);const ok=rows.filter(r=>r.analysis_status==='completed');const crypto=require('crypto'),sid=s=>'x_'+crypto.createHash('sha1').update(s).digest('hex').slice(0,16);const batches=[];for(let n=0;n<ok.length;n+=20)batches.push(ok.slice(n,n+20));const chars=new Map(),locs=new Map(),relationships=[],world=[],timeline=[],events=[],foreshadowing=[];for(const batch of batches)for(const r of batch){const a=r.analysis_result||{};for(const x of a.characters||[]){const names=[x.name,...(x.aliases||[])].filter(Boolean),key=(names[0]||'未知').toLowerCase();let c=chars.get(key)||{character_id:sid('char:'+key),canonical_name:names[0]||'未知',aliases:[],gender:x.gender||'unknown',age:x.estimated_age??null,identity:x.identity||'',appearance:[],personality:[],relationships:[],source_chunk_ids:[]};c.aliases=[...new Set([...c.aliases,...names.slice(1)])];c.appearance=[...new Set([...c.appearance,...(x.appearance||[])])];c.personality=[...new Set([...c.personality,...(x.personality||[])])];c.relationships.push(...(x.relationships||[]));c.source_chunk_ids=[...new Set([...c.source_chunk_ids,r.chunk_id])];chars.set(key,c);}for(const x of a.locations||[]){const name=typeof x==='string'?x:(x.name||x.canonical_name||'未知地点'),key=name.toLowerCase();let l=locs.get(key)||{location_id:sid('loc:'+key),canonical_name:name,aliases:[],description:typeof x==='object'?(x.description||''):'',source_chunk_ids:[]};l.source_chunk_ids=[...new Set([...l.source_chunk_ids,r.chunk_id])];locs.set(key,l);}for(const x of a.events||[])events.push({...x,source_chunk_ids:[...new Set([...(x.source_chunk_ids||[]),r.chunk_id])]});for(const x of a.world_rules||[])world.push({value:x,source_chunk_ids:[r.chunk_id]});for(const x of a.timeline_clues||[])timeline.push({value:x,source_chunk_ids:[r.chunk_id]});for(const x of a.foreshadowing||[])foreshadowing.push({value:x,source_chunk_ids:[r.chunk_id]});for(const c of a.characters||[])relationships.push(...(c.relationships||[]).map(x=>({...x,source_chunk_ids:[r.chunk_id]})));}const bible={story_bible_id:`sb_${crypto.createHash('sha1').update(req.project_id+':'+req.generation_version).digest('hex').slice(0,20)}`,project_id:req.project_id,version:req.generation_version,characters:[...chars.values()],relationships,locations:[...locs.values()],world_rules:world,timeline,key_events:events,foreshadowing,source_chunk_ids:ok.map(x=>x.chunk_id),partial:failed.length>0};return [{json:{...req,bible,failed_count:failed.length,compact_for_ai:{characters:bible.characters,locations:bible.locations,key_events:bible.key_events.slice(0,300),world_rules:bible.world_rules,timeline:bible.timeline,foreshadowing:bible.foreshadowing}}}];"},"id":"03-merge","name":"Batch Merge and Canonicalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,40],"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.test_mode || $env.MOCK_MODE === 'true' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"03-mock-if","name":"Mock Mode?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,40]},
    {"parameters":{"jsCode":"return [{json:{...$json,usage:{total_tokens:0},estimated_cost:0}}];"},"id":"03-mock","name":"Use Deterministic Mock Bible","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-60]},
    {"parameters":{"method":"POST","url":"={{ $env.LITELLM_BASE_URL + '/v1/chat/completions' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.LITELLM_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {model:$env.STORY_BIBLE_MODEL||'glm-5.2',temperature:0.1,max_tokens:Number($env.MODEL_MAX_TOKENS||4096),response_format:{type:'json_object'},messages:[{role:'system',content:'你是故事圣经编辑。合并同名人物和地点，修正明显重复，但不得删除 source_chunk_ids/evidence。只输出严格 JSON，字段为 characters,relationships,locations,world_rules,timeline,key_events,foreshadowing。'},{role:'user',content:JSON.stringify($json.compact_for_ai)}]} }}","options":{"timeout":"={{ Number($env.MODEL_TIMEOUT_MS||120000) }}"}},"id":"03-ai","name":"Refine Bible with LiteLLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,140],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const base=$('Batch Merge and Canonicalize').item.json;let raw=$json.choices?.[0]?.message?.content;if(typeof raw!=='string')throw new Error('INVALID_AI_RESPONSE: missing story bible JSON');const x=JSON.parse(raw.replace(/^```(?:json)?\\s*/i,'').replace(/```$/,'').replace(/,\\s*([}\\]])/g,'$1').trim());for(const k of ['characters','relationships','locations','world_rules','timeline','key_events','foreshadowing'])if(!Array.isArray(x[k]))throw new Error(`INVALID_AI_SCHEMA: ${k}`);const ids=new Set(base.bible.source_chunk_ids);const safe=v=>{for(const o of v)if(o&&typeof o==='object'&&Array.isArray(o.source_chunk_ids))o.source_chunk_ids=o.source_chunk_ids.filter(id=>ids.has(id));return v};base.bible={...base.bible,...Object.fromEntries(Object.entries(x).map(([k,v])=>[k,safe(v)]))};return [{json:{...base,usage:$json.usage||{},estimated_cost:0}}];"},"id":"03-parse","name":"Validate Refined Bible","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,140],"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const crypto=require('crypto');const review_id=`review_${crypto.createHash('sha1').update($json.bible.story_bible_id).digest('hex').slice(0,20)}`;return [{json:{...$json,review_id}}];"},"id":"03-review-id","name":"Build Review Reference","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,20]},
    {"parameters":{"operation":"executeQuery","query":"WITH sb AS (INSERT INTO drama.story_bibles(story_bible_id,project_id,version,status,characters,relationships,locations,world_rules,timeline,key_events,foreshadowing,source_chunk_ids) VALUES($1,$2,$3,'pending_review',$4::jsonb,$5::jsonb,$6::jsonb,$7::jsonb,$8::jsonb,$9::jsonb,$10::jsonb,$11::jsonb) ON CONFLICT(project_id,version) DO UPDATE SET status='pending_review',characters=excluded.characters,relationships=excluded.relationships,locations=excluded.locations,world_rules=excluded.world_rules,timeline=excluded.timeline,key_events=excluded.key_events,foreshadowing=excluded.foreshadowing,source_chunk_ids=excluded.source_chunk_ids RETURNING story_bible_id), rv AS (INSERT INTO drama.review_tasks(review_id,project_id,stage,entity_type,entity_id,review_status) VALUES($12,$2,'story_bible','story_bible',$1,'pending') ON CONFLICT(review_id) DO UPDATE SET review_status=drama.review_tasks.review_status RETURNING review_id), done AS (UPDATE drama.workflow_tasks SET status='completed',completed_at=now(),output_data=jsonb_build_object('success',true,'project_id',$2,'trace_id',$13,'stage','story_bible','status','completed','data_ref',jsonb_build_object('entity_type','story_bible','entity_id',$1,'review_id',$12),'metrics',jsonb_build_object('duration_ms',$14,'input_chunks',jsonb_array_length($11::jsonb),'output_tokens',$15,'estimated_cost',$16),'error',NULL) WHERE idempotency_key=$17 RETURNING output_data) SELECT output_data FROM done;","options":{"queryReplacement":"={{ [$json.bible.story_bible_id,$json.project_id,$json.bible.version,JSON.stringify($json.bible.characters),JSON.stringify($json.bible.relationships),JSON.stringify($json.bible.locations),JSON.stringify($json.bible.world_rules),JSON.stringify($json.bible.timeline),JSON.stringify($json.bible.key_events),JSON.stringify($json.bible.foreshadowing),JSON.stringify($json.bible.source_chunk_ids),$json.review_id,$json.trace_id,Date.now()-$json.started_ms,Number($json.usage?.total_tokens||0),Number($json.estimated_cost||0),$json.idempotency_key] }}"}},"id":"03-save","name":"Save Bible and Review Transaction","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1160,20],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"03-success","name":"Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,20]},
    {"parameters":{"jsCode":"const r=$('Validate and Normalize').item.json,msg=$json.error?.message||$json.message||'story bible failed';return [{json:{success:false,project_id:r.project_id,trace_id:r.trace_id,stage:'story_bible',status:'failed',data_ref:null,metrics:{},error:{code:msg.startsWith('MISSING_CHUNK_ANALYSIS')?'MISSING_CHUNK_ANALYSIS':'STORY_BIBLE_ERROR',message:msg,retryable:/429|timeout|5\\d\\d|network/i.test(msg)}}}];"},"id":"03-failure","name":"Failure Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},
    {"parameters":{"operation":"executeQuery","query":"UPDATE drama.workflow_tasks SET status='failed',error_code=$1,error_message=$2,completed_at=now() WHERE idempotency_key=$3; SELECT $4::jsonb AS response;","options":{"queryReplacement":"={{ [$json.error.code,$json.error.message,$('Validate and Normalize').item.json.idempotency_key,JSON.stringify($json)] }}"}},"id":"03-save-failure","name":"Save Failure","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,400],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"jsCode":"return [{json:$json.response}];"},"id":"03-failed-final","name":"Failed Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,400]}
  ],
  "connections":{"Sub-workflow Trigger":{"main":[[{"node":"Validate and Normalize","type":"main","index":0}]]},"Validate and Normalize":{"main":[[{"node":"Idempotency Task Gate","type":"main","index":0}]]},"Idempotency Task Gate":{"main":[[{"node":"Already Completed?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Already Completed?":{"main":[[{"node":"Return Cached Result","type":"main","index":0}],[{"node":"Restore Request","type":"main","index":0}]]},"Restore Request":{"main":[[{"node":"Load Chunk Analyses","type":"main","index":0}]]},"Load Chunk Analyses":{"main":[[{"node":"Batch Merge and Canonicalize","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Batch Merge and Canonicalize":{"main":[[{"node":"Mock Mode?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Mock Mode?":{"main":[[{"node":"Use Deterministic Mock Bible","type":"main","index":0}],[{"node":"Refine Bible with LiteLLM","type":"main","index":0}]]},"Use Deterministic Mock Bible":{"main":[[{"node":"Build Review Reference","type":"main","index":0}]]},"Refine Bible with LiteLLM":{"main":[[{"node":"Validate Refined Bible","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Validate Refined Bible":{"main":[[{"node":"Build Review Reference","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Build Review Reference":{"main":[[{"node":"Save Bible and Review Transaction","type":"main","index":0}]]},"Save Bible and Review Transaction":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Failure Response":{"main":[[{"node":"Save Failure","type":"main","index":0}]]},"Save Failure":{"main":[[{"node":"Failed Final","type":"main","index":0}]]}},
  "pinData":{},"versionId":"d6a6a2fb-7fcb-4f1c-bbb1-030000000003","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
