ai-short-drama/workflows/04-episode-planning.json
{
  "name":"04 分集策划","id":"wf_episode_planning","active":false,"settings":{"executionOrder":"v1","saveManualExecutions":true,"timezone":"Asia/Taipei"},
  "nodes":[
    {"parameters":{"workflowInputs":{"values":[{"name":"project_id"},{"name":"episode_id"},{"name":"shot_id"},{"name":"stage"},{"name":"action"},{"name":"generation_version","type":"number"},{"name":"test_mode","type":"boolean"},{"name":"trace_id"},{"name":"payload","type":"object"}]}},"id":"04-trigger","name":"Sub-workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1260,0]},
    {"parameters":{"jsCode":"const crypto=require('crypto');const i=$json,p=i.payload||{},a=i.action||'run';if(!i.project_id)throw new Error('PROJECT_NOT_FOUND: project_id required');if(!['run','retry','regenerate','review','resume'].includes(a))throw new Error('BUSINESS_VALIDATION_FAILED: invalid action');const v=Number(i.generation_version||1);if(a==='regenerate'&&v<2)throw new Error('BUSINESS_VALIDATION_FAILED: regenerate requires generation_version > 1');const entity=p.season_id||'season_1';return [{json:{...i,payload:p,stage:'episode_planning',action:a,generation_version:v,trace_id:i.trace_id||`trace_${crypto.randomUUID()}`,task_id:`task_${crypto.randomUUID()}`,idempotency_key:[i.project_id,'episode_planning',entity,v,a].join(':'),started_ms:Date.now()}}];"},"id":"04-normalize","name":"Validate and Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,0]},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO drama.workflow_tasks(task_id,trace_id,project_id,workflow_stage,action,entity_type,entity_id,generation_version,idempotency_key,status,max_retries,input_data,started_at) VALUES($1,$2,$3,'episode_planning',$4,'season',$5,$6,$7,'running',$8,$9::jsonb,now()) ON CONFLICT(idempotency_key) DO UPDATE SET status=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN('retry','resume') AND drama.workflow_tasks.retry_count<drama.workflow_tasks.max_retries THEN 'running' ELSE drama.workflow_tasks.status END,retry_count=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN('retry','resume') THEN drama.workflow_tasks.retry_count+1 ELSE drama.workflow_tasks.retry_count END RETURNING status,output_data,$10::jsonb request;","options":{"queryReplacement":"={{ [$json.task_id,$json.trace_id,$json.project_id,$json.action,$json.payload.season_id||'season_1',$json.generation_version,$json.idempotency_key,Number($env.MODEL_MAX_RETRIES||3),JSON.stringify($json),JSON.stringify($json)] }}"}},"id":"04-gate","name":"Idempotency Task Gate","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-820,0],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.status}}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"04-cached-if","name":"Already Completed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,0]},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"04-cache","name":"Return Cached Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,-180]},
    {"parameters":{"jsCode":"if($json.status!=='running')throw new Error('DUPLICATE_TASK_RUNNING: task is '+$json.status);return [{json:$json.request}];"},"id":"04-restore","name":"Restore Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,40]},
    {"parameters":{"operation":"executeQuery","query":"SELECT p.project_id,p.target_episode_count,p.episode_duration_seconds,p.visual_style,p.target_platform,sb.story_bible_id,sb.characters,sb.locations,sb.key_events,sb.foreshadowing,(SELECT coalesce(jsonb_agg(chapter_id ORDER BY chapter_number),'[]') FROM drama.novel_chapters WHERE project_id=p.project_id) chapter_ids,(SELECT coalesce(jsonb_agg(jsonb_build_object('chunk_id',chunk_id,'summary',analysis_result->>'summary') ORDER BY chunk_index),'[]') FROM drama.novel_chunks WHERE project_id=p.project_id AND analysis_status='completed') chunks FROM drama.projects p LEFT JOIN LATERAL(SELECT b.* FROM drama.story_bibles b WHERE b.project_id=p.project_id AND (b.status='approved' OR EXISTS(SELECT 1 FROM drama.review_tasks r WHERE r.entity_id=b.story_bible_id AND r.review_status='approved')) ORDER BY b.version DESC LIMIT 1) sb ON true WHERE p.project_id=$1;","options":{"queryReplacement":"={{[$json.project_id]}}"}},"id":"04-context","name":"Load Approved Bible and Sources","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,40],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const req=$('Restore Request').first().json,c=$json;if(!c.project_id)throw new Error('PROJECT_NOT_FOUND: project not found');if(!c.story_bible_id)throw new Error('STORY_BIBLE_NOT_APPROVED: 故事圣经尚未审核通过');const crypto=require('crypto'),v=req.generation_version,season_id=`season_${crypto.createHash('sha1').update(req.project_id+':1:'+v).digest('hex').slice(0,20)}`;return [{json:{...req,context:c,season_id,review_id:`review_${crypto.createHash('sha1').update(season_id).digest('hex').slice(0,20)}`}}];"},"id":"04-approved","name":"Enforce Approved Story Bible","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,40],"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.test_mode||$env.MOCK_MODE==='true'}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"04-mock-if","name":"Mock Mode?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,40]},
    {"parameters":{"jsCode":"const x=$json,c=x.context,n=Number(c.target_episode_count),chars=(c.characters||[]).map(v=>v.character_id),locs=(c.locations||[]).map(v=>v.location_id),chunks=(c.chunks||[]).map(v=>v.chunk_id),chs=c.chapter_ids||[];const eps=Array.from({length:n},(_,i)=>({episode_number:i+1,title:`第${i+1}集`,logline:`主线推进至第${i+1}个关键节点`,source_chapter_ids:chs.length?[chs[i%chs.length]]:[],source_chunk_ids:chunks.length?[chunks[i%chunks.length]]:[],opening_hook:`第${i+1}集开场即出现新的线索`,story_goal:'推进主线并制造可视化冲突',main_conflict:'人物目标与阻力正面碰撞',plot_points:[{order:1,description:'线索出现并触发行动',source_event_ids:[]}],climax:'关键选择导致局势逆转',ending_hook:'新的危险在结尾显现',character_ids:chars.slice(0,Math.max(1,Math.min(3,chars.length))),location_ids:locs.slice(0,1),estimated_duration_seconds:Number(c.episode_duration_seconds),continuity_in:i?[`承接第${i}集悬念`]:[],continuity_out:i<n-1?[`引向第${i+2}集`]:[],foreshadowing_planted:[],foreshadowing_resolved:[]}));return [{json:{...x,plan:{season:{title:c.project_id+' 第一季',adaptation_strategy:'保留主线、强化短剧钩子',total_episodes:n,main_story_arc:'线索逐步揭示并完成阶段闭环',source_coverage_summary:'按章节与分段顺序覆盖',uncovered_key_events:[]},episodes:eps,quality_check:{episode_count_valid:true,duration_valid:true,continuity_issues:[],missing_key_events:[],unsupported_content:[]}},usage:{},request_id:'mock',latency_ms:0}}];"},"id":"04-mock","name":"Generate Stable Mock Plan","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-60]},
    {"parameters":{"method":"POST","url":"={{$env.LITELLM_BASE_URL+'/v1/chat/completions'}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{'Bearer '+$env.LITELLM_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {model:$env.EPISODE_PLANNING_MODEL||'glm-5.2',temperature:Number($env.EPISODE_PLAN_TEMPERATURE||0.5),max_tokens:Number($env.MODEL_MAX_TOKENS||4096),response_format:{type:'json_object'},messages:[{role:'system',content:'生成严格JSON整季短剧大纲。字段必须为 season,episodes,quality_check；不得发明输入中不存在的ID。'},{role:'user',content:JSON.stringify({target_episode_count:$json.context.target_episode_count,target_duration:$json.context.episode_duration_seconds,characters:$json.context.characters,locations:$json.context.locations,key_events:$json.context.key_events,foreshadowing:$json.context.foreshadowing,chapter_ids:$json.context.chapter_ids,chunks:$json.context.chunks})}]} }}","options":{"timeout":"={{Number($env.MODEL_REQUEST_TIMEOUT_SECONDS||180)*1000}}"}},"id":"04-ai","name":"Call Planning Model","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,140],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const b=$('Enforce Approved Story Bible').item.json;let s=$json.choices?.[0]?.message?.content;if(typeof s!=='string')throw new Error('MODEL_INVALID_JSON: missing content');const p=JSON.parse(s.replace(/^```(?:json)?\\s*/i,'').replace(/```$/,'').trim());return [{json:{...b,plan:p,usage:$json.usage||{},request_id:$json.id||null,latency_ms:Date.now()-b.started_ms}}];"},"id":"04-parse","name":"Parse Model JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,140],"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const crypto=require('crypto'),x=$json,p=x.plan,c=x.context;if(!p?.season||!Array.isArray(p.episodes)||!p.quality_check)throw new Error('MODEL_INVALID_JSON: required fields missing');if(p.episodes.length!==Number(c.target_episode_count))throw new Error('BUSINESS_VALIDATION_FAILED: episode count mismatch');const chars=new Set((c.characters||[]).map(v=>v.character_id)),locs=new Set((c.locations||[]).map(v=>v.location_id)),chs=new Set(c.chapter_ids||[]),chunks=new Set((c.chunks||[]).map(v=>v.chunk_id)),tol=1.5;for(let i=0;i<p.episodes.length;i++){const e=p.episodes[i];if(e.episode_number!==i+1)throw new Error('BUSINESS_VALIDATION_FAILED: episode numbers not continuous');if((e.character_ids||[]).some(v=>!chars.has(v)))throw new Error('INVALID_CHARACTER_ID');if((e.location_ids||[]).some(v=>!locs.has(v)))throw new Error('INVALID_LOCATION_ID');if((e.source_chapter_ids||[]).some(v=>!chs.has(v))||(e.source_chunk_ids||[]).some(v=>!chunks.has(v)))throw new Error('INVALID_SOURCE_REFERENCE');if(Number(e.estimated_duration_seconds)>Number(c.episode_duration_seconds)*tol)throw new Error('DURATION_OUT_OF_RANGE');e.episode_id=`ep_${crypto.createHash('sha1').update(x.season_id+':'+(i+1)).digest('hex').slice(0,20)}`;e.version=x.generation_version;}return [{json:x}];"},"id":"04-validate","name":"Validate Plan and Stable IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,20],"onError":"continueErrorOutput"},
    {"parameters":{"operation":"executeQuery","query":"WITH sn AS (INSERT INTO drama.seasons(season_id,project_id,story_bible_id,season_number,title,target_episode_count,target_episode_duration_seconds,adaptation_strategy,status,version,generation_config,source_chapter_ids,quality_report) VALUES($1,$2,$3,1,$4,$5,$6,$7,'waiting_review',$8,$9::jsonb,$10::jsonb,$11::jsonb) ON CONFLICT(project_id,season_number,version) DO NOTHING RETURNING season_id),ep AS (INSERT INTO drama.episode_outlines(episode_id,season_id,project_id,episode_number,title,logline,source_chapter_ids,source_chunk_ids,opening_hook,story_goal,main_conflict,plot_points,climax,ending_hook,character_ids,location_ids,estimated_duration_seconds,continuity_in,continuity_out,status,version) SELECT x.episode_id,$1,$2,x.episode_number,x.title,x.logline,x.source_chapter_ids,x.source_chunk_ids,x.opening_hook,x.story_goal,x.main_conflict,x.plot_points,x.climax,x.ending_hook,x.character_ids,x.location_ids,x.estimated_duration_seconds,x.continuity_in,x.continuity_out,'waiting_review',x.version FROM jsonb_to_recordset($12::jsonb)x(episode_id text,episode_number int,title text,logline text,source_chapter_ids jsonb,source_chunk_ids jsonb,opening_hook text,story_goal text,main_conflict text,plot_points jsonb,climax text,ending_hook text,character_ids jsonb,location_ids jsonb,estimated_duration_seconds int,continuity_in jsonb,continuity_out jsonb,version int) ON CONFLICT(season_id,episode_number,version) DO NOTHING),rv AS (INSERT INTO drama.review_tasks(review_id,project_id,stage,entity_type,entity_id,review_status,metadata) VALUES($13,$2,'season_outline','season',$1,'pending',jsonb_build_object('version',$8)) ON CONFLICT(review_id) DO NOTHING),us AS (INSERT INTO drama.generation_usage(usage_id,project_id,workflow_stage,entity_type,entity_id,model,request_id,input_tokens,output_tokens,total_tokens,estimated_cost,latency_ms,success) VALUES($14,$2,'episode_planning','season',$1,$15,$16,$17,$18,$19,0,$20,true) ON CONFLICT(usage_id) DO NOTHING),pr AS (UPDATE drama.projects SET current_stage='season_outline_review',status='waiting_review' WHERE project_id=$2),done AS (UPDATE drama.workflow_tasks SET status='completed',completed_at=now(),output_data=jsonb_build_object('success',true,'project_id',$2,'trace_id',$21,'stage','episode_planning','status','completed','data_ref',jsonb_build_object('entity_type','season','entity_id',$1,'review_id',$13),'metrics',jsonb_build_object('duration_ms',$20,'input_tokens',$17,'output_tokens',$18,'estimated_cost',0),'error',NULL) WHERE idempotency_key=$22 RETURNING output_data)SELECT output_data FROM done;","options":{"queryReplacement":"={{[$json.season_id,$json.project_id,$json.context.story_bible_id,$json.plan.season.title,Number($json.context.target_episode_count),Number($json.context.episode_duration_seconds),$json.plan.season.adaptation_strategy,$json.generation_version,JSON.stringify({model:$env.EPISODE_PLANNING_MODEL,test_mode:$json.test_mode}),JSON.stringify($json.context.chapter_ids),JSON.stringify($json.plan.quality_check),JSON.stringify($json.plan.episodes),$json.review_id,'usage_'+$json.season_id,$env.EPISODE_PLANNING_MODEL||'glm-5.2',$json.request_id||null,Number($json.usage?.prompt_tokens||0),Number($json.usage?.completion_tokens||0),Number($json.usage?.total_tokens||0),Date.now()-$json.started_ms,$json.trace_id,$json.idempotency_key]}}"}},"id":"04-save","name":"Save Season Outlines Review Usage","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1160,20],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"04-success","name":"Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,20]},
    {"parameters":{"jsCode":"const r=$('Validate and Normalize').item.json,m=$json.error?.message||$json.message||'episode planning failed',code=(m.split(':')[0]||'BUSINESS_VALIDATION_FAILED').replace(/\\W/g,'_');return [{json:{response:{success:false,project_id:r.project_id,trace_id:r.trace_id,stage:'episode_planning',status:code==='STORY_BIBLE_NOT_APPROVED'?'waiting_review':'failed',data_ref:null,metrics:{},error:{code,message:m.replace(/^[A-Z_]+:\\s*/,''),retryable:/429|timeout|5\\d\\d|network/i.test(m)}},key:r.idempotency_key}}];"},"id":"04-failure","name":"Failure Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},
    {"parameters":{"operation":"executeQuery","query":"UPDATE drama.workflow_tasks SET status='failed',error_code=$1,error_message=$2,output_data=$3::jsonb,completed_at=now() WHERE idempotency_key=$4;SELECT $3::jsonb response;","options":{"queryReplacement":"={{[$json.response.error.code,$json.response.error.message,JSON.stringify($json.response),$json.key]}}"}},"id":"04-save-failure","name":"Save Failure","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,400],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"jsCode":"return [{json:$json.response}];"},"id":"04-final-failure","name":"Failed Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,400]}
  ],
  "connections":{"Sub-workflow Trigger":{"main":[[{"node":"Validate and Normalize","type":"main","index":0}]]},"Validate and Normalize":{"main":[[{"node":"Idempotency Task Gate","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Idempotency Task Gate":{"main":[[{"node":"Already Completed?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Already Completed?":{"main":[[{"node":"Return Cached Result","type":"main","index":0}],[{"node":"Restore Request","type":"main","index":0}]]},"Restore Request":{"main":[[{"node":"Load Approved Bible and Sources","type":"main","index":0}]]},"Load Approved Bible and Sources":{"main":[[{"node":"Enforce Approved Story Bible","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Enforce Approved Story Bible":{"main":[[{"node":"Mock Mode?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Mock Mode?":{"main":[[{"node":"Generate Stable Mock Plan","type":"main","index":0}],[{"node":"Call Planning Model","type":"main","index":0}]]},"Generate Stable Mock Plan":{"main":[[{"node":"Validate Plan and Stable IDs","type":"main","index":0}]]},"Call Planning Model":{"main":[[{"node":"Parse Model JSON","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Parse Model JSON":{"main":[[{"node":"Validate Plan and Stable IDs","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Validate Plan and Stable IDs":{"main":[[{"node":"Save Season Outlines Review Usage","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Save Season Outlines Review Usage":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Failure Response":{"main":[[{"node":"Save Failure","type":"main","index":0}]]},"Save Failure":{"main":[[{"node":"Failed Final","type":"main","index":0}]]}},
  "pinData":{},"versionId":"d6a6a2fb-7fcb-4f1c-bbb1-040000000004","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
