ai-short-drama/workflows/04a-adaptation-compiler.json
{
  "id": "wf_adaptation_compiler",
  "name": "04a - Constraint Adaptation Compiler",
  "nodes": [
    {
      "parameters": {},
      "id": "04a-trigger",
      "name": "Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1260,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "04a-schedule",
      "name": "Pending Compiler Poll",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1260,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto=require('crypto');const source=$json||{};return [{json:{worker_id:String(source.worker_id||'n8n-adaptation-compiler').slice(0,200),claim_request_id:String(source.claim_request_id||('compiler-claim-'+crypto.randomUUID())).slice(0,255),lease_seconds:Math.min(3600,Math.max(30,Number(source.lease_seconds||300)))}}];"
      },
      "id": "04a-normalize",
      "name": "Normalize Compiler Worker Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH recovery AS MATERIALIZED (\n  SELECT count(*) recovered FROM drama.recover_expired_operations(100)\n), claimed AS (\n  SELECT claimed.* FROM recovery CROSS JOIN LATERAL\n    drama.claim_operation($1::text,$2::text,ARRAY['adaptation_compile']::text[],$3::integer) claimed\n), run_update AS (\n  UPDATE drama.compiler_runs run SET status='running',lease_owner=claimed.lease_owner,\n    lease_expires_at=claimed.lease_expires_at,started_at=COALESCE(run.started_at,CURRENT_TIMESTAMP)\n  FROM claimed WHERE run.operation_id=claimed.operation_id\n  RETURNING run.*\n)\nSELECT jsonb_build_object(\n  'operation_id',claimed.operation_id,'claim_token',claimed.claim_token,'ir_status',ir.status,\n  'run',jsonb_build_object('compiler_run_id',run.compiler_run_id,'project_id',run.project_id,'work_id',run.work_id,\n    'source_version_id',run.source_version_id,'adaptation_spec_version_id',run.adaptation_spec_version_id,\n    'ir_revision_id',run.ir_revision_id,'compiler_version',run.compiler_version),\n  'spec',jsonb_build_object('source_version_id',spec.source_version_id,'ir_revision_id',spec.ir_revision_id,\n    'status',spec.status,'scope_mode',spec.scope_mode,'target_episode_count',spec.target_episode_count,\n    'episode_duration_seconds',spec.episode_duration_seconds),\n  'scope_chapters',COALESCE((SELECT jsonb_agg(jsonb_build_object('chapter_id',chapter_id,'include_mode',include_mode) ORDER BY chapter_id)\n    FROM drama.adaptation_scope_chapters WHERE adaptation_spec_version_id=spec.adaptation_spec_version_id),'[]'::jsonb),\n  'scope_arcs',COALESCE((SELECT jsonb_agg(jsonb_build_object('story_arc_revision_id',story_arc_revision_id,'include_mode',include_mode) ORDER BY story_arc_revision_id)\n    FROM drama.adaptation_scope_arcs WHERE adaptation_spec_version_id=spec.adaptation_spec_version_id),'[]'::jsonb),\n  'rules',COALESCE((SELECT jsonb_agg(jsonb_build_object('adaptation_rule_id',adaptation_rule_id,'rule_type',rule_type,\n    'enforcement',enforcement,'target_type',target_type,'target_id',target_id,'priority',priority,'parameters',parameters,'rationale',rationale)\n    ORDER BY priority DESC,adaptation_rule_id) FROM drama.adaptation_rules WHERE adaptation_spec_version_id=spec.adaptation_spec_version_id),'[]'::jsonb),\n  'events',COALESCE((SELECT jsonb_agg(jsonb_build_object('event_revision_id',event.event_revision_id,\n    'fact_revision_id',event.fact_revision_id,'chapter_id',fact.chapter_id,'source_span_id',fact.primary_source_span_id,\n    'summary',event.summary,'narrative_order',event.narrative_order,'importance',event.importance,\n    'story_arc_revision_ids',COALESCE((SELECT jsonb_agg(arc.story_arc_revision_id ORDER BY arc.story_arc_revision_id)\n      FROM drama.story_arc_events arc WHERE arc.event_revision_id=event.event_revision_id),'[]'::jsonb),\n    'participant_entity_revision_ids',COALESCE((SELECT jsonb_agg(DISTINCT participant.entity_revision_id ORDER BY participant.entity_revision_id)\n      FROM drama.event_participants participant WHERE participant.event_revision_id=event.event_revision_id),'[]'::jsonb))\n    ORDER BY event.narrative_order,event.event_revision_id)\n    FROM drama.narrative_event_revisions event JOIN drama.narrative_fact_revisions fact ON fact.fact_revision_id=event.fact_revision_id\n    WHERE event.ir_revision_id=run.ir_revision_id),'[]'::jsonb),\n  'relations',COALESCE((SELECT jsonb_agg(jsonb_build_object('from_event_revision_id',from_event_revision_id,\n    'to_event_revision_id',to_event_revision_id,'relation_type',relation_type) ORDER BY event_relation_id)\n    FROM drama.event_relations WHERE ir_revision_id=run.ir_revision_id),'[]'::jsonb),\n  'state_changes',COALESCE((SELECT jsonb_agg(jsonb_build_object('state_change_id',state_change_id,\n    'character_entity_revision_id',character_entity_revision_id,'state_dimension',state_dimension,'before_state',before_state,\n    'after_state',after_state,'trigger_event_revision_id',trigger_event_revision_id,'sequence_number',sequence_number) ORDER BY sequence_number,state_change_id)\n    FROM drama.character_state_changes WHERE ir_revision_id=run.ir_revision_id),'[]'::jsonb),\n  'foreshadow_occurrences',COALESCE((SELECT jsonb_agg(jsonb_build_object('foreshadow_thread_id',foreshadow_thread_id,\n    'event_revision_id',event_revision_id,'lifecycle_stage',lifecycle_stage,'occurrence_order',occurrence_order) ORDER BY occurrence_order,foreshadow_occurrence_id)\n    FROM drama.foreshadow_occurrences WHERE ir_revision_id=run.ir_revision_id),'[]'::jsonb),\n  'resume_result',run.checkpoint->'validated_output'\n) AS context\nFROM claimed JOIN run_update run ON run.operation_id=claimed.operation_id\nJOIN drama.adaptation_spec_versions spec ON spec.adaptation_spec_version_id=run.adaptation_spec_version_id\nJOIN drama.narrative_ir_revisions ir ON ir.ir_revision_id=run.ir_revision_id;",
        "options": {
          "queryReplacement": "={{ [$json.worker_id,$json.claim_request_id,$json.lease_seconds] }}"
        }
      },
      "id": "04a-load",
      "name": "Claim and Load Frozen Compiler Inputs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Short Drama PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst PIPELINE = [\n  'source_scope_resolution',\n  'event_selection',\n  'prerequisite_ordering',\n  'event_compression_merge',\n  'episode_allocation',\n  'character_state_validation',\n  'foreshadow_validation',\n  'duration_validation',\n  'reviewable_plan',\n];\n\nconst stable = (value) => {\n  if (Array.isArray(value)) return value.map(stable);\n  if (value && typeof value === 'object') {\n    return Object.fromEntries(Object.keys(value).sort().map((key) => [key, stable(value[key])]));\n  }\n  return value;\n};\nconst digest = (value) => crypto.createHash('sha256').update(JSON.stringify(stable(value))).digest('hex');\nconst makeID = (prefix, value) => `${prefix}${digest(value).slice(0, 24)}`;\nconst unique = (items) => [...new Set(items.filter(Boolean))];\nconst asArray = (value) => Array.isArray(value) ? value : [];\nconst compareEvent = (left, right) => Number(left.narrative_order) - Number(right.narrative_order) ||\n  String(left.event_revision_id).localeCompare(String(right.event_revision_id));\nconst diagnostic = (severity, code, message, entityType = null, entityID = null, details = {}) => ({\n  severity, code, message, entity_type: entityType, entity_id: entityID, details,\n});\n\nfunction ruleMatchesEvent(rule, event) {\n  if (!rule) return false;\n  if (rule.target_type === 'free_text') return true;\n  if (rule.target_type === 'event') return rule.target_id === event.event_revision_id;\n  if (rule.target_type === 'fact') return rule.target_id === event.fact_revision_id;\n  if (rule.target_type === 'chapter') return rule.target_id === event.chapter_id;\n  if (rule.target_type === 'story_arc') return asArray(event.story_arc_revision_ids).includes(rule.target_id);\n  if (rule.target_type === 'entity') return asArray(event.participant_entity_revision_ids).includes(rule.target_id);\n  if (rule.target_type === 'attribute') {\n    const owner = rule.parameters?.owner_id;\n    return owner === event.event_revision_id || owner === event.fact_revision_id || owner === event.chapter_id ||\n      asArray(event.story_arc_revision_ids).includes(owner) || asArray(event.participant_entity_revision_ids).includes(owner);\n  }\n  return false;\n}\n\nfunction compile(input) {\n  const run = input?.run || {};\n  const spec = input?.spec || {};\n  const events = asArray(input?.events).map((event) => ({...event})).sort(compareEvent);\n  const rules = asArray(input?.rules).map((rule) => ({...rule, parameters: rule.parameters || {}}));\n  const diagnostics = [];\n  const stages = [];\n  const stage = (name, data) => stages.push({stage: name, status: 'completed', data});\n  const block = (code, message, entityType, entityID, details) => diagnostics.push(\n    diagnostic('blocking', code, message, entityType, entityID, details),\n  );\n\n  if (!run.compiler_run_id || !spec.source_version_id || run.source_version_id !== spec.source_version_id ||\n      run.ir_revision_id !== spec.ir_revision_id || spec.status !== 'active' || input.ir_status !== 'published') {\n    block('FROZEN_INPUT_MISMATCH', 'Compiler inputs are not one active spec, one published IR and one source version.');\n  }\n\n  const includeChapters = new Set(asArray(input.scope_chapters).filter((item) => item.include_mode === 'include').map((item) => item.chapter_id));\n  const excludeChapters = new Set(asArray(input.scope_chapters).filter((item) => item.include_mode === 'exclude').map((item) => item.chapter_id));\n  const includeArcs = new Set(asArray(input.scope_arcs).filter((item) => item.include_mode === 'include').map((item) => item.story_arc_revision_id));\n  const excludeArcs = new Set(asArray(input.scope_arcs).filter((item) => item.include_mode === 'exclude').map((item) => item.story_arc_revision_id));\n  const inChapterScope = (event) => includeChapters.has(event.chapter_id);\n  const inArcScope = (event) => asArray(event.story_arc_revision_ids).some((id) => includeArcs.has(id));\n  const excluded = (event) => excludeChapters.has(event.chapter_id) || asArray(event.story_arc_revision_ids).some((id) => excludeArcs.has(id));\n  const inScope = (event) => {\n    if (excluded(event)) return false;\n    if (spec.scope_mode === 'chapters_only') return inChapterScope(event);\n    if (spec.scope_mode === 'arcs_only') return inArcScope(event);\n    if (spec.scope_mode === 'intersection') return inChapterScope(event) && inArcScope(event);\n    return inChapterScope(event) || inArcScope(event);\n  };\n  const scoped = events.filter(inScope);\n  if (!scoped.length) block('EMPTY_SOURCE_SCOPE', 'The resolved chapter/story-arc scope contains no Narrative IR events.');\n  stage('source_scope_resolution', {\n    scope_mode: spec.scope_mode,\n    include_chapter_ids: [...includeChapters].sort(),\n    include_story_arc_revision_ids: [...includeArcs].sort(),\n    candidate_event_count: scoped.length,\n  });\n\n  const selected = scoped.slice();\n  const selectedIDs = new Set(selected.map((event) => event.event_revision_id));\n  for (const rule of rules.filter((item) => item.enforcement === 'hard' && item.rule_type === 'must_preserve')) {\n    let satisfied = false;\n    if (rule.target_type === 'event') satisfied = selectedIDs.has(rule.target_id);\n    else if (rule.target_type === 'chapter') satisfied = selected.some((event) => event.chapter_id === rule.target_id);\n    else if (rule.target_type === 'story_arc') satisfied = selected.some((event) => asArray(event.story_arc_revision_ids).includes(rule.target_id));\n    else if (rule.target_type === 'fact') satisfied = selected.some((event) => event.fact_revision_id === rule.target_id);\n    else if (rule.target_type === 'entity') satisfied = selected.some((event) => asArray(event.participant_entity_revision_ids).includes(rule.target_id));\n    else satisfied = selected.some((event) => ruleMatchesEvent(rule, event));\n    if (!satisfied) block('MUST_PRESERVE_OUTSIDE_SCOPE', 'A hard must_preserve target is absent from the resolved source scope.', rule.target_type, rule.target_id, {rule_id: rule.adaptation_rule_id});\n  }\n  stage('event_selection', {selected_event_ids: selected.map((event) => event.event_revision_id)});\n\n  const byID = new Map(selected.map((event) => [event.event_revision_id, event]));\n  const outgoing = new Map(selected.map((event) => [event.event_revision_id, new Set()]));\n  const indegree = new Map(selected.map((event) => [event.event_revision_id, 0]));\n  for (const relation of asArray(input.relations)) {\n    let from = relation.from_event_revision_id;\n    let to = relation.to_event_revision_id;\n    if (relation.relation_type === 'after') [from, to] = [to, from];\n    if (!['before', 'after', 'causes', 'enables'].includes(relation.relation_type) || !byID.has(from) || !byID.has(to)) continue;\n    if (!outgoing.get(from).has(to)) {\n      outgoing.get(from).add(to);\n      indegree.set(to, indegree.get(to) + 1);\n    }\n  }\n  const ready = selected.filter((event) => indegree.get(event.event_revision_id) === 0).sort(compareEvent);\n  const ordered = [];\n  while (ready.length) {\n    const event = ready.shift();\n    ordered.push(event);\n    for (const nextID of [...outgoing.get(event.event_revision_id)].sort()) {\n      indegree.set(nextID, indegree.get(nextID) - 1);\n      if (indegree.get(nextID) === 0) {\n        ready.push(byID.get(nextID));\n        ready.sort(compareEvent);\n      }\n    }\n  }\n  if (ordered.length !== selected.length) {\n    block('PREREQUISITE_CYCLE', 'Causal or prerequisite relations contain a cycle.', 'ir_revision', run.ir_revision_id);\n    for (const event of selected) if (!ordered.includes(event)) ordered.push(event);\n  }\n  const reorderedIDs = ordered.filter((event, index) => event.event_revision_id !== selected[index]?.event_revision_id).map((event) => event.event_revision_id);\n  stage('prerequisite_ordering', {ordered_event_ids: ordered.map((event) => event.event_revision_id), reordered_event_ids: reorderedIDs});\n\n  const episodeCount = Number(spec.target_episode_count || 0);\n  const durationTarget = Number(spec.episode_duration_seconds || 0);\n  if (!Number.isInteger(episodeCount) || episodeCount < 1 || !Number.isInteger(durationTarget) || durationTarget < 1) {\n    block('INVALID_TARGET_FORMAT', 'Episode count and duration must be positive integers.');\n  }\n  const eventUnits = ordered.map((event) => ({\n    events: [event],\n    estimated_seconds: Math.max(12, Math.round(18 + Number(event.importance ?? 0.5) * 42)),\n    merge_group_id: null,\n    merge_rule_ids: [],\n  }));\n  const totalCapacity = Math.max(0, episodeCount * durationTarget);\n  let totalSeconds = eventUnits.reduce((sum, unit) => sum + unit.estimated_seconds, 0);\n  for (let index = 0; totalSeconds > totalCapacity && index < eventUnits.length - 1 && eventUnits.length > episodeCount; index += 1) {\n    const left = eventUnits[index];\n    const right = eventUnits[index + 1];\n    if (left.events.length > 1 || right.events.length > 1) continue;\n    const leftEvent = left.events[0];\n    const rightEvent = right.events[0];\n    const authorizers = rules.filter((rule) => rule.rule_type === 'merge_allowed' && ruleMatchesEvent(rule, leftEvent) && ruleMatchesEvent(rule, rightEvent));\n    const immutable = rules.some((rule) => rule.rule_type === 'must_not_change' && (ruleMatchesEvent(rule, leftEvent) || ruleMatchesEvent(rule, rightEvent)));\n    if (!authorizers.length || immutable) continue;\n    const mergedSeconds = Math.max(15, Math.round((left.estimated_seconds + right.estimated_seconds) * 0.72));\n    const group = {\n      events: [leftEvent, rightEvent], estimated_seconds: mergedSeconds,\n      merge_group_id: makeID('merge_', [run.compiler_run_id, leftEvent.event_revision_id, rightEvent.event_revision_id]),\n      merge_rule_ids: unique(authorizers.map((rule) => rule.adaptation_rule_id)).sort(),\n    };\n    eventUnits.splice(index, 2, group);\n    totalSeconds = eventUnits.reduce((sum, unit) => sum + unit.estimated_seconds, 0);\n  }\n  if (totalSeconds > totalCapacity) block('DURATION_CAPACITY_EXCEEDED', 'Selected source events cannot fit the requested season duration under authorized merge rules.', 'adaptation_spec_version', run.adaptation_spec_version_id, {estimated_seconds: totalSeconds, capacity_seconds: totalCapacity});\n  if (eventUnits.length < episodeCount) block('TOO_FEW_EVENT_UNITS', 'The source scope has fewer independently allocatable event units than target episodes.', 'adaptation_spec_version', run.adaptation_spec_version_id, {event_units: eventUnits.length, target_episode_count: episodeCount});\n  stage('event_compression_merge', {event_unit_count: eventUnits.length, estimated_seconds: totalSeconds, merge_groups: eventUnits.filter((unit) => unit.merge_group_id).map((unit) => ({merge_group_id: unit.merge_group_id, source_event_ids: unit.events.map((event) => event.event_revision_id), rule_ids: unit.merge_rule_ids}))});\n\n  const buckets = [];\n  let cursor = 0;\n  for (let number = 1; number <= episodeCount && cursor < eventUnits.length; number += 1) {\n    const remainingUnits = eventUnits.length - cursor;\n    const remainingEpisodes = episodeCount - number + 1;\n    const take = Math.ceil(remainingUnits / remainingEpisodes);\n    buckets.push(eventUnits.slice(cursor, cursor + take));\n    cursor += take;\n  }\n  stage('episode_allocation', {episode_count: buckets.length, event_counts: buckets.map((bucket) => bucket.reduce((sum, unit) => sum + unit.events.length, 0))});\n\n  const eventPosition = new Map();\n  buckets.forEach((bucket, episodeIndex) => bucket.forEach((unit) => unit.events.forEach((event, eventIndex) => {\n    eventPosition.set(event.event_revision_id, [episodeIndex, eventIndex]);\n  })));\n  let characterStateValid = true;\n  const stateGroups = new Map();\n  for (const change of asArray(input.state_changes).filter((item) => eventPosition.has(item.trigger_event_revision_id))) {\n    const key = `${change.character_entity_revision_id}\\u0000${change.state_dimension}`;\n    if (!stateGroups.has(key)) stateGroups.set(key, []);\n    stateGroups.get(key).push(change);\n  }\n  for (const changes of stateGroups.values()) {\n    changes.sort((a, b) => Number(a.sequence_number) - Number(b.sequence_number));\n    for (let index = 1; index < changes.length; index += 1) {\n      if (JSON.stringify(stable(changes[index - 1].after_state)) !== JSON.stringify(stable(changes[index].before_state))) {\n        characterStateValid = false;\n        block('CHARACTER_STATE_DISCONTINUITY', 'Character state transitions do not join across selected events.', 'state_change', changes[index].state_change_id, {previous_state_change_id: changes[index - 1].state_change_id});\n      }\n    }\n  }\n  stage('character_state_validation', {valid: characterStateValid, checked_state_change_count: [...stateGroups.values()].reduce((sum, items) => sum + items.length, 0)});\n\n  let foreshadowValid = true;\n  const threadGroups = new Map();\n  for (const occurrence of asArray(input.foreshadow_occurrences).filter((item) => eventPosition.has(item.event_revision_id))) {\n    if (!threadGroups.has(occurrence.foreshadow_thread_id)) threadGroups.set(occurrence.foreshadow_thread_id, []);\n    threadGroups.get(occurrence.foreshadow_thread_id).push(occurrence);\n  }\n  for (const [threadID, occurrences] of threadGroups) {\n    occurrences.sort((a, b) => Number(a.occurrence_order) - Number(b.occurrence_order));\n    const firstPlant = occurrences.findIndex((item) => item.lifecycle_stage === 'planted');\n    const firstResolution = occurrences.findIndex((item) => ['partially_resolved', 'resolved'].includes(item.lifecycle_stage));\n    if (firstResolution >= 0 && (firstPlant < 0 || firstResolution < firstPlant)) {\n      foreshadowValid = false;\n      block('FORESHADOW_RESOLUTION_WITHOUT_PLANT', 'A selected foreshadow resolution appears before its planted occurrence.', 'foreshadow_thread', threadID);\n    } else if (firstPlant >= 0 && firstResolution < 0) {\n      diagnostics.push(diagnostic('warning', 'FORESHADOW_OPEN_AT_SCOPE_END', 'A planted foreshadow thread remains open at the selected scope boundary.', 'foreshadow_thread', threadID));\n    }\n  }\n  stage('foreshadow_validation', {valid: foreshadowValid, checked_thread_count: threadGroups.size});\n\n  let durationValid = buckets.length === episodeCount;\n  const episodeDurations = buckets.map((bucket) => bucket.reduce((sum, unit) => sum + unit.estimated_seconds, 0));\n  episodeDurations.forEach((seconds, index) => {\n    if (seconds > durationTarget) {\n      durationValid = false;\n      block('EPISODE_DURATION_EXCEEDED', 'An episode exceeds the requested duration.', 'episode', String(index + 1), {estimated_seconds: seconds, target_seconds: durationTarget});\n    } else if (seconds < Math.max(1, Math.floor(durationTarget * 0.3))) {\n      diagnostics.push(diagnostic('warning', 'EPISODE_DURATION_UNDER_TARGET', 'An episode uses less than 30% of the target duration.', 'episode', String(index + 1), {estimated_seconds: seconds, target_seconds: durationTarget}));\n    }\n  });\n  stage('duration_validation', {valid: durationValid, target_seconds: durationTarget, episode_estimated_seconds: episodeDurations});\n\n  const episodes = buckets.map((bucket, episodeIndex) => {\n    const episodeEvents = bucket.flatMap((unit) => unit.events);\n    const sourceEventIDs = episodeEvents.map((event) => event.event_revision_id);\n    const sourceChapterIDs = unique(episodeEvents.map((event) => event.chapter_id));\n    const mergedContent = bucket.filter((unit) => unit.merge_group_id).map((unit) => ({\n      merge_group_id: unit.merge_group_id,\n      source_event_ids: unit.events.map((event) => event.event_revision_id),\n      description: `按规则合并呈现事件：${unit.events.map((event) => event.summary).join(' / ')}`.slice(0, 4000),\n      rule_ids: unit.merge_rule_ids,\n    }));\n    const added = [];\n    const deviations = [];\n    for (const event of episodeEvents) {\n      const transforms = rules.filter((rule) => rule.rule_type === 'transform_required' && ruleMatchesEvent(rule, event));\n      for (const rule of transforms) {\n        const description = String(rule.parameters?.added_content_description || '').trim();\n        if (description) added.push({\n          content_id: makeID('added_', [run.compiler_run_id, event.event_revision_id, rule.adaptation_rule_id]),\n          description: description.slice(0, 4000), reason: String(rule.rationale || 'transform_required rule').slice(0, 4000),\n          rule_ids: [rule.adaptation_rule_id],\n        });\n        deviations.push({\n          deviation_id: makeID('deviation_', ['transform', run.compiler_run_id, event.event_revision_id, rule.adaptation_rule_id]),\n          kind: description ? 'addition' : 'transform',\n          description: String(rule.rationale || `按规则转换事件：${event.summary}`).slice(0, 4000),\n          source_event_ids: [event.event_revision_id], rule_ids: [rule.adaptation_rule_id],\n        });\n      }\n    }\n    for (const merge of mergedContent) deviations.push({\n      deviation_id: makeID('deviation_', ['merge', run.compiler_run_id, merge.merge_group_id]), kind: 'merge',\n      description: merge.description, source_event_ids: merge.source_event_ids, rule_ids: merge.rule_ids,\n    });\n    for (const eventID of reorderedIDs.filter((id) => sourceEventIDs.includes(id))) deviations.push({\n      deviation_id: makeID('deviation_', ['reorder', run.compiler_run_id, eventID]), kind: 'reorder',\n      description: '为满足明确的前置、时间或因果关系调整呈现顺序。', source_event_ids: [eventID], rule_ids: [],\n    });\n    const assignments = [];\n    let sequence = 0;\n    for (const unit of bucket) for (const event of unit.events) {\n      sequence += 1;\n      const transformRules = rules.filter((rule) => rule.rule_type === 'transform_required' && ruleMatchesEvent(rule, event));\n      const preserveRules = rules.filter((rule) => ['must_preserve', 'must_not_change'].includes(rule.rule_type) && ruleMatchesEvent(rule, event));\n      assignments.push({\n        event_revision_id: event.event_revision_id, sequence_number: sequence,\n        usage_mode: transformRules.length ? 'transform' : unit.merge_group_id ? 'merge' : 'preserve',\n        merge_group_id: unit.merge_group_id,\n        rule_ids: unique([...unit.merge_rule_ids, ...transformRules.map((rule) => rule.adaptation_rule_id), ...preserveRules.map((rule) => rule.adaptation_rule_id)]).sort(),\n      });\n    }\n    const first = episodeEvents[0];\n    const last = episodeEvents[episodeEvents.length - 1];\n    return {\n      episode_number: episodeIndex + 1,\n      title: `第${episodeIndex + 1}集｜${String(first?.summary || '待审核事件').slice(0, 120)}`,\n      logline: episodeEvents.map((event) => event.summary).join('；').slice(0, 4000),\n      estimated_duration_seconds: episodeDurations[episodeIndex],\n      opening_hook: String(first?.summary || '').slice(0, 4000),\n      ending_hook: String(last?.summary || '').slice(0, 4000),\n      continuity_in: episodeIndex ? [`承接第${episodeIndex}集的事件状态`] : [],\n      continuity_out: episodeIndex + 1 < buckets.length ? [`进入第${episodeIndex + 2}集的前置状态`] : [],\n      source_event_ids: sourceEventIDs,\n      source_chapter_ids: sourceChapterIDs,\n      added_adaptation_content: added,\n      merged_content: mergedContent,\n      deviation_notes: deviations,\n      event_assignments: assignments,\n    };\n  });\n\n  const eventReferencesValid = episodes.every((episode) =>\n    episode.source_event_ids.length === episode.event_assignments.length &&\n    episode.source_event_ids.every((id, index) => id === episode.event_assignments[index].event_revision_id) &&\n    unique(episode.source_chapter_ids).length === episode.source_chapter_ids.length);\n  if (!eventReferencesValid) block('EPISODE_SOURCE_AUDIT_MISMATCH', 'Episode source audit arrays disagree with normalized assignments.');\n  const hardRulesSatisfied = !diagnostics.some((item) => item.severity === 'blocking');\n  const validation = {\n    hard_rules_satisfied: hardRulesSatisfied,\n    event_references_valid: eventReferencesValid,\n    timeline_valid: ordered.length === selected.length,\n    causality_valid: ordered.length === selected.length,\n    foreshadowing_valid: foreshadowValid,\n    duration_valid: durationValid,\n  };\n  const plan = {schema_version: 'compiler-plan.v2', compiler_run_id: run.compiler_run_id, episodes, diagnostics, validation};\n  stage('reviewable_plan', {episode_count: episodes.length, output_hash: digest(plan), blocking_diagnostic_count: diagnostics.filter((item) => item.severity === 'blocking').length});\n  const publishable = Object.values(validation).every(Boolean) && episodes.length === episodeCount && episodes.length > 0;\n  return {plan, stages, publishable, output_hash: digest(plan), pipeline: PIPELINE};\n}\n\n\nconst context=$json.context||$json;\nif(context.resume_result?.plan){\n  return [{json:{...context.resume_result,operation_id:context.operation_id,claim_token:context.claim_token,resumed:true}}];\n}\nconst result=compile(context);\nreturn [{json:{operation_id:context.operation_id,claim_token:context.claim_token,run:context.run,spec:context.spec,...result,resumed:false}}];"
      },
      "id": "04a-compile",
      "name": "Run Nine-stage Constraint Compiler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const value=$json;\nconst plan=value.plan||{};\nconst forbidden=(item)=>{if(Array.isArray(item))return item.some(forbidden);if(item&&typeof item==='object')return Object.entries(item).some(([key,child])=>['raw_response','provider_response','request_body','response_body'].includes(key)||forbidden(child));return false;};\nconst ids=(items)=>Array.isArray(items)&&items.every((id)=>typeof id==='string'&&/^[A-Za-z0-9][A-Za-z0-9_.:-]{0,254}$/.test(id))&&new Set(items).size===items.length;\nconst failures=[];\nif(plan.schema_version!=='compiler-plan.v2'||plan.compiler_run_id!==value.run?.compiler_run_id)failures.push('schema identity');\nif(!Array.isArray(plan.episodes)||plan.episodes.length<1)failures.push('episodes');\nfor(const episode of plan.episodes||[]){\n  if(!Number.isInteger(episode.episode_number)||!Number.isInteger(episode.estimated_duration_seconds)||episode.estimated_duration_seconds<1)failures.push('episode numbers');\n  if(!ids(episode.source_event_ids)||!episode.source_event_ids.length||!ids(episode.source_chapter_ids)||!episode.source_chapter_ids.length)failures.push('source audit ids');\n  for(const field of ['added_adaptation_content','merged_content','deviation_notes','event_assignments'])if(!Array.isArray(episode[field]))failures.push(field);\n  const assigned=(episode.event_assignments||[]).map((item)=>item.event_revision_id);\n  if(JSON.stringify(assigned)!==JSON.stringify(episode.source_event_ids))failures.push('assignment audit mismatch');\n  for(const merge of episode.merged_content||[])if(!ids(merge.source_event_ids)||merge.source_event_ids.length<2||!ids(merge.rule_ids)||!merge.rule_ids.length)failures.push('merge audit');\n  for(const addition of episode.added_adaptation_content||[])if(!addition.description||!addition.reason||!ids(addition.rule_ids)||!addition.rule_ids.length)failures.push('addition audit');\n}\nconst validation=plan.validation||{};\nfor(const key of ['hard_rules_satisfied','event_references_valid','timeline_valid','causality_valid','foreshadowing_valid','duration_valid'])if(typeof validation[key]!=='boolean')failures.push(key);\nif(forbidden(plan))failures.push('forbidden provider payload');\nif(failures.length){\n  plan.diagnostics=Array.isArray(plan.diagnostics)?plan.diagnostics:[];\n  plan.diagnostics.push({severity:'blocking',code:'COMPILER_PLAN_SCHEMA_INVALID',message:'Compiler plan failed JSON Schema validation.',entity_type:null,entity_id:null,details:{failures:[...new Set(failures)].slice(0,50)}});\n  value.publishable=false;\n  value.output_hash=require('crypto').createHash('sha256').update(JSON.stringify(plan)).digest('hex');\n}\nvalue.schema_valid=failures.length===0;\nreturn [{json:value}];"
      },
      "id": "04a-schema",
      "name": "Validate compiler-plan.v2 and Business Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH claim AS (SELECT (drama.assert_operation_claim($1::text,$2::uuid)).*),\nstage_rows AS (SELECT item FROM jsonb_array_elements($3::jsonb) item),\nsaved AS (INSERT INTO drama.compiler_checkpoints(compiler_checkpoint_id,compiler_run_id,stage,checkpoint_key,status,\n  input_hash,output_hash,checkpoint_data,idempotency_key)\n  SELECT 'cc_'||replace(gen_random_uuid()::text,'-',''),run.compiler_run_id,item->>'stage','all',item->>'status',\n    run.input_hash,$4::text,COALESCE(item->'data','{}'::jsonb),'compiler-checkpoint:'||run.compiler_run_id||':'||(item->>'stage')\n  FROM claim JOIN drama.compiler_runs run ON run.operation_id=claim.operation_id CROSS JOIN stage_rows\n  ON CONFLICT(compiler_run_id,stage,checkpoint_key) DO UPDATE SET status=EXCLUDED.status,output_hash=EXCLUDED.output_hash,\n    checkpoint_data=EXCLUDED.checkpoint_data,updated_at=CURRENT_TIMESTAMP RETURNING compiler_run_id),\nrun_saved AS (UPDATE drama.compiler_runs run SET status='validating',output_hash=$4::text,\n  checkpoint=jsonb_build_object('validated_output',$5::jsonb)\n  FROM claim WHERE run.operation_id=claim.operation_id RETURNING run.compiler_run_id),\noperation_saved AS (SELECT operation_id FROM drama.checkpoint_operation($1::text,$2::uuid,'validating','reviewable_plan',NULL,\n  jsonb_build_object('output_hash',$4::text,'schema_valid',($5::jsonb->>'schema_valid')::boolean,\n  'publishable',($5::jsonb->>'publishable')::boolean,'completed_stages',jsonb_array_length($3::jsonb))))\nSELECT $5::jsonb AS state FROM operation_saved,run_saved LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.operation_id,$json.claim_token,JSON.stringify($json.stages),$json.output_hash,JSON.stringify($json)] }}"
        }
      },
      "id": "04a-checkpoint",
      "name": "Checkpoint Validated Reviewable Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -20,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Short Drama PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "publishable",
              "leftValue": "={{ $json.state.publishable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "04a-publishable",
      "name": "All Compiler Gates Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH claim AS (SELECT (drama.assert_operation_claim($1::text,$2::uuid)).*),\npayload AS (SELECT $3::jsonb AS plan,$4::text AS output_hash),\nrun_row AS (SELECT run.* FROM drama.compiler_runs run JOIN claim ON claim.operation_id=run.operation_id FOR UPDATE),\nspec_row AS (SELECT spec.* FROM drama.adaptation_spec_versions spec JOIN run_row run ON run.adaptation_spec_version_id=spec.adaptation_spec_version_id),\nplan_events AS (SELECT (episode->>'episode_number')::integer episode_number,assignment,\n  assignment->>'event_revision_id' event_revision_id FROM payload CROSS JOIN LATERAL jsonb_array_elements(plan->'episodes') episode\n  CROSS JOIN LATERAL jsonb_array_elements(episode->'event_assignments') assignment),\nguard AS MATERIALIZED (SELECT 1 AS ok FROM payload CROSS JOIN run_row run CROSS JOIN spec_row spec WHERE\n  payload.plan->>'schema_version'='compiler-plan.v2' AND payload.plan->>'compiler_run_id'=run.compiler_run_id\n  AND jsonb_array_length(payload.plan->'episodes')=spec.target_episode_count\n  AND (payload.plan->'validation'->>'hard_rules_satisfied')::boolean\n  AND (payload.plan->'validation'->>'event_references_valid')::boolean\n  AND (payload.plan->'validation'->>'timeline_valid')::boolean\n  AND (payload.plan->'validation'->>'causality_valid')::boolean\n  AND (payload.plan->'validation'->>'foreshadowing_valid')::boolean\n  AND (payload.plan->'validation'->>'duration_valid')::boolean\n  AND NOT drama.jsonb_has_forbidden_provider_payload(payload.plan)\n  AND NOT EXISTS (SELECT 1 FROM plan_events pe LEFT JOIN drama.narrative_event_revisions event\n    ON event.event_revision_id=pe.event_revision_id AND event.ir_revision_id=run.ir_revision_id WHERE event.event_revision_id IS NULL)\n  AND NOT EXISTS (SELECT 1 FROM jsonb_array_elements(payload.plan->'episodes') episode\n    WHERE (episode->>'estimated_duration_seconds')::integer>spec.episode_duration_seconds\n      OR episode->'source_event_ids' IS NULL OR episode->'source_chapter_ids' IS NULL\n      OR jsonb_array_length(episode->'source_event_ids')<>jsonb_array_length(episode->'event_assignments'))\n  AND NOT EXISTS (SELECT 1 FROM jsonb_array_elements(payload.plan->'episodes') episode\n    CROSS JOIN LATERAL jsonb_array_elements_text(episode->'source_event_ids') source_event_id\n    WHERE NOT EXISTS (SELECT 1 FROM plan_events pe WHERE pe.episode_number=(episode->>'episode_number')::integer\n      AND pe.event_revision_id=source_event_id))\n  AND NOT EXISTS (SELECT 1 FROM plan_events pe\n    CROSS JOIN LATERAL jsonb_array_elements(payload.plan->'episodes') episode\n    WHERE pe.episode_number=(episode->>'episode_number')::integer AND NOT episode->'source_event_ids' ? pe.event_revision_id)\n  AND NOT EXISTS (SELECT 1 FROM jsonb_array_elements(payload.plan->'episodes') episode\n    CROSS JOIN LATERAL jsonb_array_elements_text(episode->'source_chapter_ids') source_chapter_id\n    WHERE NOT EXISTS (SELECT 1 FROM plan_events pe JOIN drama.narrative_event_revisions event ON event.event_revision_id=pe.event_revision_id\n      JOIN drama.narrative_fact_revisions fact ON fact.fact_revision_id=event.fact_revision_id\n      WHERE pe.episode_number=(episode->>'episode_number')::integer AND fact.chapter_id=source_chapter_id))\n  AND NOT EXISTS (SELECT 1 FROM plan_events pe JOIN drama.narrative_event_revisions event ON event.event_revision_id=pe.event_revision_id\n    JOIN drama.narrative_fact_revisions fact ON fact.fact_revision_id=event.fact_revision_id\n    CROSS JOIN LATERAL jsonb_array_elements(payload.plan->'episodes') episode\n    WHERE pe.episode_number=(episode->>'episode_number')::integer AND NOT episode->'source_chapter_ids' ? fact.chapter_id)\n  AND NOT EXISTS (SELECT 1 FROM drama.adaptation_rules rule WHERE rule.adaptation_spec_version_id=spec.adaptation_spec_version_id\n    AND rule.enforcement='hard' AND rule.target_type='event' AND rule.rule_type='must_preserve'\n    AND NOT EXISTS (SELECT 1 FROM plan_events pe WHERE pe.event_revision_id=rule.target_id))\n  AND NOT EXISTS (SELECT 1 FROM plan_events pe JOIN drama.adaptation_rules rule ON rule.adaptation_spec_version_id=spec.adaptation_spec_version_id\n    AND rule.target_type='event' AND rule.target_id=pe.event_revision_id AND rule.enforcement='hard'\n    WHERE (rule.rule_type='must_not_change' AND pe.assignment->>'usage_mode'<>'preserve')\n       OR (rule.rule_type='transform_required' AND pe.assignment->>'usage_mode'<>'transform'))\n  AND NOT EXISTS (SELECT 1 FROM plan_events pe WHERE pe.assignment->>'usage_mode'='merge' AND NOT EXISTS (\n    SELECT 1 FROM jsonb_array_elements_text(pe.assignment->'rule_ids') rule_id\n    JOIN drama.adaptation_rules rule ON rule.adaptation_rule_id=rule_id\n    WHERE rule.adaptation_spec_version_id=spec.adaptation_spec_version_id AND rule.rule_type='merge_allowed'))\n  AND NOT EXISTS (SELECT 1 FROM jsonb_array_elements(payload.plan->'episodes') episode\n    CROSS JOIN LATERAL jsonb_array_elements(episode->'merged_content') merge\n    CROSS JOIN LATERAL jsonb_array_elements_text(merge->'rule_ids') rule_id\n    WHERE NOT EXISTS (SELECT 1 FROM drama.adaptation_rules rule WHERE rule.adaptation_rule_id=rule_id\n      AND rule.adaptation_spec_version_id=spec.adaptation_spec_version_id AND rule.rule_type='merge_allowed'))\n  AND NOT EXISTS (SELECT 1 FROM jsonb_array_elements(payload.plan->'episodes') episode\n    CROSS JOIN LATERAL jsonb_array_elements(episode->'added_adaptation_content') addition\n    CROSS JOIN LATERAL jsonb_array_elements_text(addition->'rule_ids') rule_id\n    WHERE NOT EXISTS (SELECT 1 FROM drama.adaptation_rules rule WHERE rule.adaptation_rule_id=rule_id\n      AND rule.adaptation_spec_version_id=spec.adaptation_spec_version_id AND rule.rule_type='transform_required'))),\ninserted_plan AS (INSERT INTO drama.adaptation_plans(adaptation_plan_id,compiler_run_id,project_id,adaptation_spec_version_id,\n  version_number,status,is_current,content_hash,quality_report)\n  SELECT 'ap_'||replace(gen_random_uuid()::text,'-',''),run.compiler_run_id,run.project_id,run.adaptation_spec_version_id,\n    COALESCE((SELECT max(version_number)+1 FROM drama.adaptation_plans WHERE project_id=run.project_id),1),\n    'waiting_review',false,payload.output_hash,jsonb_build_object('validation',payload.plan->'validation','diagnostics',payload.plan->'diagnostics')\n  FROM payload CROSS JOIN run_row run JOIN guard ON guard.ok=1 RETURNING *),\ninserted_episodes AS (INSERT INTO drama.adaptation_episode_plans(adaptation_episode_plan_id,adaptation_plan_id,episode_number,title,\n  logline,estimated_duration_seconds,opening_hook,ending_hook,continuity_in,continuity_out,validation_report,content_hash,\n  source_event_ids,source_chapter_ids,added_adaptation_content,merged_content,deviation_notes)\n  SELECT 'aep_'||replace(gen_random_uuid()::text,'-',''),plan.adaptation_plan_id,(episode->>'episode_number')::integer,\n    episode->>'title',episode->>'logline',(episode->>'estimated_duration_seconds')::integer,episode->>'opening_hook',episode->>'ending_hook',\n    episode->'continuity_in',episode->'continuity_out',payload.plan->'validation',encode(drama.digest(convert_to(episode::text,'UTF8'),'sha256'),'hex'),\n    episode->'source_event_ids',episode->'source_chapter_ids',episode->'added_adaptation_content',episode->'merged_content',episode->'deviation_notes'\n  FROM payload CROSS JOIN inserted_plan plan CROSS JOIN LATERAL jsonb_array_elements(payload.plan->'episodes') episode RETURNING *),\ninserted_assignments AS (INSERT INTO drama.episode_event_assignments(episode_event_assignment_id,adaptation_episode_plan_id,\n  event_revision_id,sequence_number,usage_mode,merge_group_id,rule_trace,idempotency_key)\n  SELECT 'eea_'||replace(gen_random_uuid()::text,'-',''),saved.adaptation_episode_plan_id,assignment->>'event_revision_id',\n    (assignment->>'sequence_number')::integer,assignment->>'usage_mode',NULLIF(assignment->>'merge_group_id',''),assignment->'rule_ids',\n    'compiler-assignment:'||run.compiler_run_id||':'||saved.episode_number||':'||(assignment->>'event_revision_id')\n  FROM payload JOIN run_row run ON true CROSS JOIN LATERAL jsonb_array_elements(payload.plan->'episodes') episode\n  JOIN inserted_episodes saved ON saved.episode_number=(episode->>'episode_number')::integer\n  CROSS JOIN LATERAL jsonb_array_elements(episode->'event_assignments') assignment RETURNING *),\ninserted_diagnostics AS (INSERT INTO drama.compiler_diagnostics(compiler_diagnostic_id,compiler_run_id,severity,diagnostic_code,\n  entity_type,entity_id,message,details)\n  SELECT 'cd_'||replace(gen_random_uuid()::text,'-',''),run.compiler_run_id,item->>'severity',item->>'code',\n    NULLIF(item->>'entity_type',''),NULLIF(item->>'entity_id',''),item->>'message',COALESCE(item->'details','{}'::jsonb)\n  FROM payload JOIN run_row run ON true JOIN inserted_plan published ON published.compiler_run_id=run.compiler_run_id\n  CROSS JOIN LATERAL jsonb_array_elements(payload.plan->'diagnostics') item RETURNING compiler_run_id),\nsource_artifact AS (INSERT INTO drama.artifacts(artifact_id,artifact_type,native_entity_id,revision_number,content_hash,idempotency_key,metadata)\n  SELECT 'art_source_'||run.source_version_id,'source_version',run.source_version_id,source.version_number,source.version_hash,\n    'compiler-source-artifact:'||run.source_version_id,jsonb_build_object('work_id',run.work_id)\n  FROM run_row run JOIN inserted_plan published ON published.compiler_run_id=run.compiler_run_id\n  JOIN drama.source_versions source ON source.source_version_id=run.source_version_id\n  ON CONFLICT(idempotency_key) DO UPDATE SET updated_at=CURRENT_TIMESTAMP RETURNING *),\nspec_artifact AS (INSERT INTO drama.artifacts(artifact_id,artifact_type,project_id,native_entity_id,revision_number,content_hash,idempotency_key,metadata)\n  SELECT 'art_spec_'||spec.adaptation_spec_version_id,'adaptation_spec_version',spec.project_id,spec.adaptation_spec_version_id,\n    spec.version_number,spec.content_hash,'compiler-spec-artifact:'||spec.adaptation_spec_version_id,jsonb_build_object('ir_revision_id',spec.ir_revision_id)\n  FROM spec_row spec JOIN inserted_plan published ON published.adaptation_spec_version_id=spec.adaptation_spec_version_id\n  ON CONFLICT(idempotency_key) DO UPDATE SET updated_at=CURRENT_TIMESTAMP RETURNING *),\nplan_artifact AS (INSERT INTO drama.artifacts(artifact_id,artifact_type,project_id,native_entity_id,revision_number,content_hash,\n  validity_status,is_current,idempotency_key,metadata)\n  SELECT 'art_plan_'||plan.adaptation_plan_id,'adaptation_plan',plan.project_id,plan.adaptation_plan_id,plan.version_number,\n    plan.content_hash,'needs_review',false,'compiler-plan-artifact:'||plan.adaptation_plan_id,\n    jsonb_build_object('compiler_run_id',plan.compiler_run_id,'adaptation_spec_version_id',plan.adaptation_spec_version_id)\n  FROM inserted_plan plan RETURNING *),\nepisode_artifacts AS (INSERT INTO drama.artifacts(artifact_id,artifact_type,project_id,native_entity_id,revision_number,content_hash,\n  validity_status,is_current,idempotency_key,metadata)\n  SELECT 'art_episode_plan_'||episode.adaptation_episode_plan_id,'adaptation_episode_plan',run.project_id,\n    episode.adaptation_episode_plan_id,1,episode.content_hash,'needs_review',false,\n    'compiler-episode-artifact:'||episode.adaptation_episode_plan_id,jsonb_build_object('episode_number',episode.episode_number)\n  FROM inserted_episodes episode CROSS JOIN run_row run RETURNING *),\ndependencies AS (INSERT INTO drama.artifact_dependencies(artifact_dependency_id,upstream_artifact_id,downstream_artifact_id,\n  dependency_type,dependency_selector,observed_upstream_hash,idempotency_key)\n  SELECT 'ad_'||replace(gen_random_uuid()::text,'-',''),upstream.artifact_id,downstream.artifact_id,'compiler_input',\n    jsonb_build_object('ir_revision_id',run.ir_revision_id),upstream.content_hash,\n    'compiler-dependency:'||upstream.artifact_id||':'||downstream.artifact_id\n  FROM (SELECT * FROM source_artifact UNION ALL SELECT * FROM spec_artifact) upstream CROSS JOIN plan_artifact downstream CROSS JOIN run_row run\n  UNION ALL\n  SELECT 'ad_'||replace(gen_random_uuid()::text,'-',''),plan.artifact_id,episode.artifact_id,'plan_contains',\n    episode.metadata,plan.content_hash,'compiler-dependency:'||plan.artifact_id||':'||episode.artifact_id\n  FROM plan_artifact plan CROSS JOIN episode_artifacts episode RETURNING artifact_dependency_id),\nevidence AS (INSERT INTO drama.artifact_source_evidence(artifact_source_evidence_id,artifact_id,source_span_id,fact_revision_id,evidence_role,idempotency_key)\n  SELECT 'ase_'||replace(gen_random_uuid()::text,'-',''),artifact.artifact_id,fact.primary_source_span_id,event.fact_revision_id,'source',\n    'compiler-evidence:'||artifact.artifact_id||':'||event.fact_revision_id\n  FROM inserted_assignments assignment JOIN inserted_episodes episode ON episode.adaptation_episode_plan_id=assignment.adaptation_episode_plan_id\n  JOIN episode_artifacts artifact ON artifact.native_entity_id=episode.adaptation_episode_plan_id\n  JOIN drama.narrative_event_revisions event ON event.event_revision_id=assignment.event_revision_id\n  JOIN drama.narrative_fact_revisions fact ON fact.fact_revision_id=event.fact_revision_id RETURNING artifact_source_evidence_id),\nrun_done AS (UPDATE drama.compiler_runs run SET status='needs_review',output_hash=payload.output_hash,completed_at=CURRENT_TIMESTAMP,\n  checkpoint=jsonb_build_object('adaptation_plan_id',plan.adaptation_plan_id,'output_hash',payload.output_hash)\n  FROM payload,inserted_plan plan WHERE run.compiler_run_id=plan.compiler_run_id RETURNING run.*),\nfinished AS (SELECT done.* FROM run_done run CROSS JOIN LATERAL drama.finish_operation($1::text,$2::uuid,'needs_review',\n  'adaptation_plan',(SELECT adaptation_plan_id FROM inserted_plan),NULL,NULL,false) done)\nSELECT finished.operation_id,finished.status,finished.result_type,finished.result_id FROM finished;",
        "options": {
          "queryReplacement": "={{ [$json.state.operation_id,$json.state.claim_token,JSON.stringify($json.state.plan),$json.state.output_hash] }}"
        }
      },
      "id": "04a-publish",
      "name": "Atomic Publish Reviewable Episode Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        500,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Short Drama PostgreSQL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{json:{success:true,operation_id:$json.operation_id,status:$json.status,adaptation_plan_id:$json.result_id,review_required:true}}];"
      },
      "id": "04a-result",
      "name": "Reviewable Plan Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const state=$json.state||$('Checkpoint Validated Reviewable Plan').first().json.state;const blocking=(state.plan?.diagnostics||[]).filter((item)=>item.severity==='blocking');const code=String(blocking[0]?.code||'ADAPTATION_COMPILE_FAILED').replace(/[^A-Z0-9_]/gi,'_').toUpperCase().slice(0,200);const message=String(blocking.map((item)=>item.message).join('; ')||$json.error?.message||'Constraint compiler validation failed').replace(/[\\r\\n\\t]+/g,' ').replace(/(?:sk-|Bearer\\s+)[A-Za-z0-9._-]+/gi,'[REDACTED]').slice(0,1000);return [{json:{...state,error_code:code,error_message:message}}];"
      },
      "id": "04a-sanitize",
      "name": "Sanitize Compiler Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH claim AS (SELECT (drama.assert_operation_claim($1::text,$2::uuid)).*),\npayload AS (SELECT $3::jsonb AS plan),\ndiagnostics AS (INSERT INTO drama.compiler_diagnostics(compiler_diagnostic_id,compiler_run_id,severity,diagnostic_code,\n  entity_type,entity_id,message,details)\n  SELECT 'cd_'||replace(gen_random_uuid()::text,'-',''),run.compiler_run_id,item->>'severity',item->>'code',\n    NULLIF(item->>'entity_type',''),NULLIF(item->>'entity_id',''),left(item->>'message',4000),COALESCE(item->'details','{}'::jsonb)\n  FROM claim JOIN drama.compiler_runs run ON run.operation_id=claim.operation_id CROSS JOIN payload\n  CROSS JOIN LATERAL jsonb_array_elements(payload.plan->'diagnostics') item RETURNING compiler_run_id),\nrun_failed AS (UPDATE drama.compiler_runs run SET status='failed',error_code=$4::text,error_message=$5::text,completed_at=CURRENT_TIMESTAMP\n  FROM claim WHERE run.operation_id=claim.operation_id RETURNING run.*),\nfinished AS (SELECT done.* FROM run_failed run CROSS JOIN LATERAL drama.finish_operation($1::text,$2::uuid,'failed',NULL,NULL,$4::text,$5::text,false) done)\nSELECT operation_id,status,error_code,error_message FROM finished;",
        "options": {
          "queryReplacement": "={{ [$json.operation_id,$json.claim_token,JSON.stringify($json.plan),$json.error_code,$json.error_message] }}"
        }
      },
      "id": "04a-reject",
      "name": "Atomically Reject Invalid Compiler Output",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        760,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Short Drama PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{json:{success:false,operation_id:$json.operation_id,status:$json.status,error:{code:$json.error_code,message:$json.error_message}}}];"
      },
      "id": "04a-failed",
      "name": "Compiler Rejected Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        140
      ]
    }
  ],
  "connections": {
    "Sub-workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Compiler Worker Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending Compiler Poll": {
      "main": [
        [
          {
            "node": "Normalize Compiler Worker Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Compiler Worker Request": {
      "main": [
        [
          {
            "node": "Claim and Load Frozen Compiler Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim and Load Frozen Compiler Inputs": {
      "main": [
        [
          {
            "node": "Run Nine-stage Constraint Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Nine-stage Constraint Compiler": {
      "main": [
        [
          {
            "node": "Validate compiler-plan.v2 and Business Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate compiler-plan.v2 and Business Audit": {
      "main": [
        [
          {
            "node": "Checkpoint Validated Reviewable Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkpoint Validated Reviewable Plan": {
      "main": [
        [
          {
            "node": "All Compiler Gates Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Compiler Gates Passed?": {
      "main": [
        [
          {
            "node": "Atomic Publish Reviewable Episode Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sanitize Compiler Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atomic Publish Reviewable Episode Plan": {
      "main": [
        [
          {
            "node": "Reviewable Plan Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sanitize Compiler Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Compiler Failure": {
      "main": [
        [
          {
            "node": "Atomically Reject Invalid Compiler Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atomically Reject Invalid Compiler Output": {
      "main": [
        [
          {
            "node": "Compiler Rejected Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none"
  },
  "versionId": "7f8dd777-c02b-41c8-88b4-040a00000001",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
