ai-short-drama/workflows/05-episode-script.json
{
  "name":"05 单集剧本","id":"wf_episode_script","active":false,"settings":{"executionOrder":"v1","saveManualExecutions":true,"timezone":"Asia/Taipei"},
  "nodes":[
    {"parameters":{"workflowInputs":{"values":[{"name":"project_id"},{"name":"episode_id"},{"name":"shot_id"},{"name":"stage"},{"name":"action"},{"name":"generation_version","type":"number"},{"name":"test_mode","type":"boolean"},{"name":"trace_id"},{"name":"payload","type":"object"}]}},"id":"05-trigger","name":"Sub-workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1260,0]},
    {"parameters":{"jsCode":"const crypto=require('crypto');const i=$json,p=i.payload||{},ep=i.episode_id||p.episode_id,a=i.action||'run',v=Number(i.generation_version||1);if(!i.project_id||!ep)throw new Error('EPISODE_OUTLINE_NOT_FOUND: project_id and episode_id required');if(a==='regenerate'&&v<2)throw new Error('BUSINESS_VALIDATION_FAILED: regenerate requires version > 1');const entity=p.scene_id||ep;return [{json:{...i,episode_id:ep,payload:p,stage:'episode_script',action:a,generation_version:v,trace_id:i.trace_id||`trace_${crypto.randomUUID()}`,task_id:`task_${crypto.randomUUID()}`,idempotency_key:[i.project_id,'episode_script',entity,v,a].join(':'),started_ms:Date.now(),rewrite_scene_id:p.scene_id||null}}];"},"id":"05-normalize","name":"Validate and Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,0]},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO drama.workflow_tasks(task_id,trace_id,project_id,workflow_stage,action,entity_type,entity_id,generation_version,idempotency_key,status,max_retries,input_data,started_at)VALUES($1,$2,$3,'episode_script',$4,$5,$6,$7,$8,'running',$9,$10::jsonb,now())ON CONFLICT(idempotency_key)DO UPDATE SET status=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN('retry','resume') AND drama.workflow_tasks.retry_count<drama.workflow_tasks.max_retries THEN 'running' ELSE drama.workflow_tasks.status END,retry_count=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN('retry','resume') THEN drama.workflow_tasks.retry_count+1 ELSE drama.workflow_tasks.retry_count END RETURNING status,output_data,$11::jsonb request;","options":{"queryReplacement":"={{[$json.task_id,$json.trace_id,$json.project_id,$json.action,$json.rewrite_scene_id?'scene':'episode',$json.rewrite_scene_id||$json.episode_id,$json.generation_version,$json.idempotency_key,Number($env.MODEL_MAX_RETRIES||3),JSON.stringify($json),JSON.stringify($json)]}}"}},"id":"05-gate","name":"Idempotency Task Gate","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-820,0],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.status}}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"05-cache-if","name":"Already Completed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,0]},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"05-cache","name":"Return Cached Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,-180]},
    {"parameters":{"jsCode":"if($json.status!=='running')throw new Error('DUPLICATE_TASK_RUNNING');return [{json:$json.request}];"},"id":"05-restore","name":"Restore Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,40]},
    {"parameters":{"operation":"executeQuery","query":"SELECT e.*,s.status season_status,p.episode_duration_seconds,b.characters,b.locations,b.key_events,(SELECT continuity_out FROM drama.episode_outlines WHERE season_id=e.season_id AND episode_number=e.episode_number-1 AND status='approved' ORDER BY version DESC LIMIT 1)previous_continuity,(SELECT continuity_in FROM drama.episode_outlines WHERE season_id=e.season_id AND episode_number=e.episode_number+1 ORDER BY version DESC LIMIT 1)next_setup,(SELECT coalesce(jsonb_agg(jsonb_build_object('chunk_id',c.chunk_id,'summary',c.analysis_result->>'summary')),'[]') FROM drama.novel_chunks c WHERE c.chunk_id IN(SELECT jsonb_array_elements_text(e.source_chunk_ids)))source_chunks,(SELECT es.scenes FROM drama.episode_scripts es WHERE es.episode_id=e.episode_id ORDER BY es.version DESC LIMIT 1)existing_scenes FROM drama.episode_outlines e JOIN drama.seasons s ON s.season_id=e.season_id JOIN drama.projects p ON p.project_id=e.project_id JOIN LATERAL(SELECT * FROM drama.story_bibles WHERE story_bible_id=s.story_bible_id)b ON true WHERE e.project_id=$1 AND e.episode_id=$2 AND e.status='approved' ORDER BY e.version DESC LIMIT 1;","options":{"queryReplacement":"={{[$json.project_id,$json.episode_id]}}"}},"id":"05-context","name":"Load Approved Outline Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,40],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const r=$('Restore Request').first().json;if(!$json.episode_id)throw new Error('EPISODE_OUTLINE_NOT_APPROVED: 分集大纲尚未审核通过');const crypto=require('crypto'),script_id=`script_${crypto.createHash('sha1').update(r.episode_id+':'+r.generation_version).digest('hex').slice(0,20)}`;return [{json:{...r,context:$json,script_id,review_id:`review_${crypto.createHash('sha1').update(script_id).digest('hex').slice(0,20)}`}}];"},"id":"05-approved","name":"Enforce Approved Outline","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,40],"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.test_mode||$env.MOCK_MODE==='true'}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"05-mock-if","name":"Mock Mode?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,40]},
    {"parameters":{"jsCode":"const x=$json,c=x.context,chars=(c.characters||[]).map(v=>v.character_id),locs=c.locations||[],duration=Number(c.estimated_duration_seconds||c.episode_duration_seconds),count=Math.max(1,Math.min(4,Math.round(duration/25)));let scenes=Array.from({length:count},(_,i)=>({scene_number:i+1,location_id:locs[i%Math.max(1,locs.length)]?.location_id||null,location_name:locs[i%Math.max(1,locs.length)]?.canonical_name||'未指定地点',time_of_day:i?'夜晚':'傍晚',interior_exterior:i%2?'内景':'外景',character_ids:chars.slice(0,Math.max(1,Math.min(2,chars.length))),scene_purpose:i===0?'前5秒建立冲突':i===count-1?'形成结尾悬念':'推进线索与人物选择',source_event_ids:(c.plot_points||[]).flatMap(v=>v.source_event_ids||[]),actions:[{order:1,character_id:chars[0]||null,description:i===0?'人物立即发现异常并采取行动':'人物依据线索展开行动',emotion:'紧张',adaptation_added:false}],dialogues:[{sequence_number:1,dialogue_type:'dialogue',character_id:chars[0]||null,speaker_name:(c.characters||[])[0]?.canonical_name||'人物',text:i===count-1?c.ending_hook:'我们没有时间了。',emotion:'坚定',performance_instruction:'短促、口语化',estimated_duration_ms:2500,adaptation_added:i>0}],narration:[],emotional_change:'由怀疑转为行动',estimated_duration_seconds:Math.max(10,Math.round(duration/count))}));if(x.rewrite_scene_id){const old=(c.existing_scenes||[]).find(v=>v.scene_id===x.rewrite_scene_id);if(!old)throw new Error('BUSINESS_VALIDATION_FAILED: scene_id not found');scenes=[{...scenes[0],scene_number:old.scene_number}];}return [{json:{...x,script:{episode:{episode_id:x.episode_id,title:c.title,opening_hook:c.opening_hook,climax:c.climax,ending_hook:c.ending_hook,estimated_duration_seconds:duration},scenes,continuity_report:{previous_episode_connections:c.previous_continuity||[],next_episode_setup:c.next_setup||[],character_state_changes:[],prop_state_changes:[],location_state_changes:[],issues:[]},quality_report:{outline_alignment_score:95,character_consistency_score:95,pacing_score:90,duration_valid:true,unsupported_content:[],warnings:[]}},usage:{},request_id:'mock'}}];"},"id":"05-mock","name":"Generate Stable Mock Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-60]},
    {"parameters":{"method":"POST","url":"={{$env.LITELLM_BASE_URL+'/v1/chat/completions'}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{'Bearer '+$env.LITELLM_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {model:$env.SCRIPT_WRITING_MODEL||'glm-5.2',temperature:Number($env.SCRIPT_TEMPERATURE||0.75),max_tokens:Number($env.MODEL_MAX_TOKENS||4096),response_format:{type:'json_object'},messages:[{role:'system',content:'输出严格JSON短剧剧本，字段episode,scenes,continuity_report,quality_report。前5秒必须有冲突；新桥段标记adaptation_added；只使用输入ID。'},{role:'user',content:JSON.stringify({outline:$json.context,characters:$json.context.characters,locations:$json.context.locations,source_chunks:$json.context.source_chunks,rewrite_scene_id:$json.rewrite_scene_id})}]} }}","options":{"timeout":"={{Number($env.MODEL_REQUEST_TIMEOUT_SECONDS||180)*1000}}"}},"id":"05-ai","name":"Call Script Model","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,140],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const b=$('Enforce Approved Outline').item.json,s=$json.choices?.[0]?.message?.content;if(typeof s!=='string')throw new Error('MODEL_INVALID_JSON');return [{json:{...b,script:JSON.parse(s.replace(/^```(?:json)?\\s*/i,'').replace(/```$/,'').trim()),usage:$json.usage||{},request_id:$json.id||null}}];"},"id":"05-parse","name":"Parse Model JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,140],"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const crypto=require('crypto'),x=$json,s=x.script,c=x.context;if(!s?.episode||!Array.isArray(s.scenes)||!s.continuity_report||!s.quality_report)throw new Error('MODEL_INVALID_JSON: fields missing');if(!s.scenes.length)throw new Error('BUSINESS_VALIDATION_FAILED: empty scenes');const charList=(c.characters||[]).map(v=>v.character_id),chars=new Set(charList),locs=new Set((c.locations||[]).map(v=>v.location_id)),tol=Number($env.SCRIPT_DURATION_TOLERANCE_PERCENT||15)/100,target=Number(c.estimated_duration_seconds||c.episode_duration_seconds||90),allowedDialogueTypes=new Set(['dialogue','narration','inner_monologue','off_screen']);s.episode.title=String(s.episode.title||c.title||'未命名剧集');s.episode.opening_hook=String(s.episode.opening_hook||c.opening_hook||'开场即出现新的关键线索');s.episode.climax=String(s.episode.climax||c.climax||'关键选择导致局势逆转');s.episode.ending_hook=String(s.episode.ending_hook||c.ending_hook||'新的危险在结尾显现');s.episode.estimated_duration_seconds=target;let total=0,dialogueChars=0,dialogues=[];for(let i=0;i<s.scenes.length;i++){const z=s.scenes[i];if(!x.rewrite_scene_id)z.scene_number=i+1;z.character_ids=Array.isArray(z.character_ids)?z.character_ids:charList.slice(0,Math.min(2,charList.length));z.actions=Array.isArray(z.actions)?z.actions:[];z.dialogues=Array.isArray(z.dialogues)?z.dialogues:[];z.narration=Array.isArray(z.narration)?z.narration:[];z.source_event_ids=Array.isArray(z.source_event_ids)?z.source_event_ids:[];z.location_name=String(z.location_name||'未指定地点');z.time_of_day=String(z.time_of_day||'未指定');z.interior_exterior=String(z.interior_exterior||'内景');z.scene_purpose=String(z.scene_purpose||'推进剧情');z.emotional_change=String(z.emotional_change||'情绪随冲突推进');z.estimated_duration_seconds=Math.max(1,Number(z.estimated_duration_seconds||Math.round(target/s.scenes.length)));if(z.location_id&&!locs.has(z.location_id))throw new Error('INVALID_LOCATION_ID');if(z.character_ids.some(v=>!chars.has(v)))throw new Error('INVALID_CHARACTER_ID');z.scene_id=x.rewrite_scene_id||`scene_${crypto.createHash('sha1').update(x.script_id+':'+z.scene_number).digest('hex').slice(0,20)}`;total+=z.estimated_duration_seconds;let seq=0;for(const d of [...z.dialogues,...z.narration]){seq++;if(d.character_id&&!chars.has(d.character_id))throw new Error('INVALID_CHARACTER_ID');d.sequence_number=seq;d.dialogue_type=allowedDialogueTypes.has(String(d.dialogue_type))?String(d.dialogue_type):(z.narration.includes(d)?'narration':'dialogue');d.speaker_name=String(d.speaker_name||'旁白');d.text=String(d.text||'');d.emotion=String(d.emotion||'自然');d.performance_instruction=String(d.performance_instruction||'自然口语');d.estimated_duration_ms=Math.max(1,Number(d.estimated_duration_ms||2000));d.dialogue_id=`dlg_${crypto.createHash('sha1').update(z.scene_id+':'+d.sequence_number+':'+d.dialogue_type).digest('hex').slice(0,20)}`;d.scene_id=z.scene_id;dialogueChars+=[...d.text].length;dialogues.push(d);}}if(!x.rewrite_scene_id&&(total<target*(1-tol)||total>target*(1+tol))){total=0;for(let i=0;i<s.scenes.length;i++){const remaining=target-total,slots=s.scenes.length-i;s.scenes[i].estimated_duration_seconds=Math.max(1,i===s.scenes.length-1?remaining:Math.round(remaining/slots));total+=s.scenes[i].estimated_duration_seconds;}}x.total_duration=total;x.dialogue_chars=dialogueChars;x.dialogues=dialogues;return [{json:x}];"},"id":"05-validate","name":"Validate Script and Stable IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,20],"onError":"continueErrorOutput"},
    {"parameters":{"operation":"executeQuery","query":"WITH sc AS(INSERT INTO drama.episode_scripts(script_id,project_id,season_id,episode_id,version,title,opening_hook,scenes,climax,ending_hook,estimated_duration_seconds,dialogue_char_count,source_outline_version,continuity_report,quality_report,status)VALUES($1,$2,$3,$4,$5,$6,$7,$8::jsonb,$9,$10,$11,$12,$13,$14::jsonb,$15::jsonb,'waiting_review')ON CONFLICT(episode_id,version)DO UPDATE SET scenes=CASE WHEN $16 THEN drama.episode_scripts.scenes ELSE excluded.scenes END,continuity_report=excluded.continuity_report,quality_report=excluded.quality_report RETURNING script_id),ss AS(INSERT INTO drama.script_scenes(scene_id,script_id,project_id,episode_id,scene_number,location_id,location_name,time_of_day,interior_exterior,character_ids,scene_purpose,actions,dialogues,narration,emotional_change,estimated_duration_seconds,source_event_ids)SELECT z.scene_id,$1,$2,$4,z.scene_number,z.location_id,z.location_name,z.time_of_day,z.interior_exterior,z.character_ids,z.scene_purpose,z.actions,z.dialogues,z.narration,z.emotional_change,z.estimated_duration_seconds,z.source_event_ids FROM jsonb_to_recordset($17::jsonb)z(scene_id text,scene_number int,location_id text,location_name text,time_of_day text,interior_exterior text,character_ids jsonb,scene_purpose text,actions jsonb,dialogues jsonb,narration jsonb,emotional_change text,estimated_duration_seconds int,source_event_ids jsonb)ON CONFLICT(scene_id)DO UPDATE SET actions=excluded.actions,dialogues=excluded.dialogues,narration=excluded.narration,emotional_change=excluded.emotional_change,estimated_duration_seconds=excluded.estimated_duration_seconds),dl AS(INSERT INTO drama.dialogues(dialogue_id,project_id,episode_id,scene_id,sequence_number,dialogue_type,character_id,speaker_name,text,emotion,performance_instruction,estimated_duration_ms)SELECT d.dialogue_id,$2,$4,d.scene_id,d.sequence_number,d.dialogue_type,d.character_id,d.speaker_name,d.text,d.emotion,d.performance_instruction,d.estimated_duration_ms FROM jsonb_to_recordset($18::jsonb)d(dialogue_id text,scene_id text,sequence_number int,dialogue_type text,character_id text,speaker_name text,text text,emotion text,performance_instruction text,estimated_duration_ms int)ON CONFLICT(dialogue_id)DO UPDATE SET text=excluded.text,emotion=excluded.emotion,performance_instruction=excluded.performance_instruction,estimated_duration_ms=excluded.estimated_duration_ms),rv AS(INSERT INTO drama.review_tasks(review_id,project_id,stage,entity_type,entity_id,review_status,metadata)VALUES($19,$2,'episode_script','episode_script',$1,'pending',jsonb_build_object('version',$5,'episode_id',$4))ON CONFLICT(review_id)DO NOTHING),us AS(INSERT INTO drama.generation_usage(usage_id,project_id,workflow_stage,entity_type,entity_id,model,request_id,input_tokens,output_tokens,total_tokens,latency_ms,success)VALUES($20,$2,'episode_script','episode_script',$1,$21,$22,$23,$24,$25,$26,true)ON CONFLICT(usage_id)DO NOTHING),pr AS(UPDATE drama.projects SET current_stage='episode_script_review',status='waiting_review' WHERE project_id=$2),done AS(UPDATE drama.workflow_tasks SET status='completed',completed_at=now(),output_data=jsonb_build_object('success',true,'project_id',$2,'trace_id',$27::text,'stage','episode_script','status','completed','data_ref',jsonb_build_object('entity_type','episode_script','entity_id',$1,'episode_id',$4,'review_id',$19),'metrics',jsonb_build_object('duration_ms',$26,'input_tokens',$23,'output_tokens',$24,'estimated_cost',0),'error',NULL)WHERE idempotency_key=$28 RETURNING output_data)SELECT output_data FROM done;","options":{"queryReplacement":"={{[$json.script_id,$json.project_id,$json.context.season_id,$json.episode_id,$json.generation_version,$json.script.episode.title,$json.script.episode.opening_hook,JSON.stringify($json.script.scenes),$json.script.episode.climax,$json.script.episode.ending_hook,Math.round($json.total_duration),$json.dialogue_chars,$json.context.version,JSON.stringify($json.script.continuity_report),JSON.stringify($json.script.quality_report),Boolean($json.rewrite_scene_id),JSON.stringify($json.script.scenes),JSON.stringify($json.dialogues),$json.review_id,'usage_'+$json.script_id,$env.SCRIPT_WRITING_MODEL||'glm-5.2',$json.request_id||null,Number($json.usage?.prompt_tokens||0),Number($json.usage?.completion_tokens||0),Number($json.usage?.total_tokens||0),Date.now()-$json.started_ms,$json.trace_id,$json.idempotency_key]}}"}},"id":"05-save","name":"Save Script Scenes Dialogues Review","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1160,20],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"05-success","name":"Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,20]},
    {"parameters":{"jsCode":"const r=$('Validate and Normalize').item.json,m=$json.error?.message||$json.message||'script failed',code=(m.split(':')[0]||'BUSINESS_VALIDATION_FAILED').replace(/\\W/g,'_');return [{json:{response:{success:false,project_id:r.project_id,trace_id:r.trace_id,stage:'episode_script',status:code==='EPISODE_OUTLINE_NOT_APPROVED'?'waiting_review':'failed',data_ref:null,metrics:{},error:{code,message:m.replace(/^[A-Z_]+:\\s*/,''),retryable:/429|timeout|5\\d\\d|network/i.test(m)}},key:r.idempotency_key}}];"},"id":"05-failure","name":"Failure Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},
    {"parameters":{"operation":"executeQuery","query":"UPDATE drama.workflow_tasks SET status='failed',error_code=$1,error_message=$2,output_data=$3::jsonb,completed_at=now()WHERE idempotency_key=$4;SELECT $3::jsonb response;","options":{"queryReplacement":"={{[$json.response.error.code,$json.response.error.message,JSON.stringify($json.response),$json.key]}}"}},"id":"05-save-failure","name":"Save Failure","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,400],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"jsCode":"return [{json:$json.response}];"},"id":"05-final-failure","name":"Failed Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,400]}
  ],
  "connections":{"Sub-workflow Trigger":{"main":[[{"node":"Validate and Normalize","type":"main","index":0}]]},"Validate and Normalize":{"main":[[{"node":"Idempotency Task Gate","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Idempotency Task Gate":{"main":[[{"node":"Already Completed?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Already Completed?":{"main":[[{"node":"Return Cached Result","type":"main","index":0}],[{"node":"Restore Request","type":"main","index":0}]]},"Restore Request":{"main":[[{"node":"Load Approved Outline Context","type":"main","index":0}]]},"Load Approved Outline Context":{"main":[[{"node":"Enforce Approved Outline","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Enforce Approved Outline":{"main":[[{"node":"Mock Mode?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Mock Mode?":{"main":[[{"node":"Generate Stable Mock Script","type":"main","index":0}],[{"node":"Call Script Model","type":"main","index":0}]]},"Generate Stable Mock Script":{"main":[[{"node":"Validate Script and Stable IDs","type":"main","index":0}]]},"Call Script Model":{"main":[[{"node":"Parse Model JSON","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Parse Model JSON":{"main":[[{"node":"Validate Script and Stable IDs","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Validate Script and Stable IDs":{"main":[[{"node":"Save Script Scenes Dialogues Review","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Save Script Scenes Dialogues Review":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Failure Response":{"main":[[{"node":"Save Failure","type":"main","index":0}]]},"Save Failure":{"main":[[{"node":"Failed Final","type":"main","index":0}]]}},
  "pinData":{},"versionId":"d6a6a2fb-7fcb-4f1c-bbb1-050000000005","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
