ai-short-drama/workflows/06-storyboard-design.json
{
  "name":"06 分镜设计","id":"wf_storyboard_design","active":false,"settings":{"executionOrder":"v1","saveManualExecutions":true,"timezone":"Asia/Taipei"},
  "nodes":[
    {"parameters":{"workflowInputs":{"values":[{"name":"project_id"},{"name":"episode_id"},{"name":"shot_id"},{"name":"stage"},{"name":"action"},{"name":"generation_version","type":"number"},{"name":"test_mode","type":"boolean"},{"name":"trace_id"},{"name":"payload","type":"object"}]}},"id":"06-trigger","name":"Sub-workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1260,0]},
    {"parameters":{"jsCode":"const crypto=require('crypto');const i=$json,p=i.payload||{},ep=i.episode_id||p.episode_id,shot=i.shot_id||p.shot_id||null,a=i.action||'run',v=Number(i.generation_version||1);if(!i.project_id||!ep)throw new Error('EPISODE_SCRIPT_NOT_FOUND: project_id and episode_id required');if(a==='regenerate'&&v<2)throw new Error('BUSINESS_VALIDATION_FAILED: regenerate requires version > 1');return [{json:{...i,episode_id:ep,shot_id:shot,payload:p,stage:'storyboard_design',action:a,generation_version:v,trace_id:i.trace_id||`trace_${crypto.randomUUID()}`,task_id:`task_${crypto.randomUUID()}`,idempotency_key:[i.project_id,'storyboard_design',shot||ep,v,a].join(':'),started_ms:Date.now()}}];"},"id":"06-normalize","name":"Validate and Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,0]},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO drama.workflow_tasks(task_id,trace_id,project_id,workflow_stage,action,entity_type,entity_id,generation_version,idempotency_key,status,max_retries,input_data,started_at)VALUES($1,$2,$3,'storyboard_design',$4,$5,$6,$7,$8,'running',$9,$10::jsonb,now())ON CONFLICT(idempotency_key)DO UPDATE SET status=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN('retry','resume') AND drama.workflow_tasks.retry_count<drama.workflow_tasks.max_retries THEN 'running' ELSE drama.workflow_tasks.status END,retry_count=CASE WHEN drama.workflow_tasks.status='failed' AND $4 IN('retry','resume') THEN drama.workflow_tasks.retry_count+1 ELSE drama.workflow_tasks.retry_count END RETURNING status,output_data,$11::jsonb request;","options":{"queryReplacement":"={{[$json.task_id,$json.trace_id,$json.project_id,$json.action,$json.shot_id?'shot':'episode',$json.shot_id||$json.episode_id,$json.generation_version,$json.idempotency_key,Number($env.MODEL_MAX_RETRIES||3),JSON.stringify($json),JSON.stringify($json)]}}"}},"id":"06-gate","name":"Idempotency Task Gate","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-820,0],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.status}}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"06-cache-if","name":"Already Completed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,0]},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"06-cache","name":"Return Cached Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,-180]},
    {"parameters":{"jsCode":"if($json.status!=='running')throw new Error('DUPLICATE_TASK_RUNNING');return [{json:$json.request}];"},"id":"06-restore","name":"Restore Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,40]},
    {"parameters":{"operation":"executeQuery","query":"SELECT es.script_id,es.episode_id,es.season_id,es.version script_version,es.estimated_duration_seconds,es.title,sc.scene_id,sc.scene_number,sc.location_id,sc.location_name,sc.character_ids,sc.actions,sc.scene_purpose,sc.emotional_change,coalesce(jsonb_agg(jsonb_build_object('dialogue_id',d.dialogue_id,'sequence_number',d.sequence_number,'dialogue_type',d.dialogue_type,'character_id',d.character_id,'speaker_name',d.speaker_name,'text',d.text,'emotion',d.emotion) ORDER BY d.sequence_number)FILTER(WHERE d.dialogue_id IS NOT NULL),'[]')dialogues,b.characters,b.locations,(SELECT to_jsonb(old) FROM drama.storyboard_shots old WHERE old.shot_id=$3 AND old.project_id=$1)existing_shot FROM drama.episode_scripts es JOIN drama.script_scenes sc ON sc.script_id=es.script_id LEFT JOIN drama.dialogues d ON d.scene_id=sc.scene_id JOIN drama.seasons sn ON sn.season_id=es.season_id JOIN drama.story_bibles b ON b.story_bible_id=sn.story_bible_id WHERE es.project_id=$1 AND es.episode_id=$2 AND es.status='approved' GROUP BY es.script_id,es.episode_id,es.season_id,es.version,es.estimated_duration_seconds,es.title,sc.scene_id,sc.scene_number,sc.location_id,sc.location_name,sc.character_ids,sc.actions,sc.scene_purpose,sc.emotional_change,b.characters,b.locations ORDER BY sc.scene_number;","options":{"queryReplacement":"={{[$json.project_id,$json.episode_id,$json.shot_id]}}"}},"id":"06-context","name":"Load Approved Script Scenes Dialogues","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,40],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"mode":"runOnceForAllItems","jsCode":"const req=$('Restore Request').first().json,rows=$input.all().map(v=>v.json);if(!rows.length)throw new Error('EPISODE_SCRIPT_NOT_APPROVED: 单集剧本尚未审核通过');if(req.shot_id&&!rows[0].existing_shot)throw new Error('BUSINESS_VALIDATION_FAILED: shot_id not found');const crypto=require('crypto'),storyboard_id=req.shot_id?rows[0].existing_shot.storyboard_id:`board_${crypto.createHash('sha1').update(req.episode_id+':'+req.generation_version).digest('hex').slice(0,20)}`;return [{json:{...req,scenes:rows,script_id:rows[0].script_id,script_duration:Number(rows[0].estimated_duration_seconds),storyboard_id,review_id:`review_${crypto.createHash('sha1').update(storyboard_id).digest('hex').slice(0,20)}`}}];"},"id":"06-approved","name":"Enforce Approved Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,40],"onError":"continueErrorOutput"},
    {"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.test_mode||$env.MOCK_MODE==='true'}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"06-mock-if","name":"Mock Mode?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,40]},
    {"parameters":{"jsCode":"const x=$json,max=x.test_mode?Number($env.TEST_MAX_SHOTS||10):999,min=Number($env.SHOT_MIN_DURATION_SECONDS||2),mx=Number($env.SHOT_MAX_DURATION_SECONDS||6);let shots=[],order=1;for(const s of x.scenes){const ds=s.dialogues||[];const count=Math.max(1,ds.length);for(let i=0;i<count&&shots.length<max;i++){const d=ds[i],dur=Math.min(mx,Math.max(min,d?Math.ceil(String(d.text||'').length/4):4));shots.push({scene_number:s.scene_number,scene_id:s.scene_id,shot_number:i+1,shot_order:order++,duration_seconds:dur,shot_size:i%2?'近景':'中景',camera_angle:'平视',camera_motion:i%2?'固定':'缓慢推进',composition:'主体位于画面三分线，保留行动方向空间',character_ids:d?.character_id?[d.character_id]:(s.character_ids||[]),location_id:s.location_id,action_description:d?'说话者表达关键信息并观察对方反应':'人物完成场次主要视觉动作',facial_expression:d?.emotion||'警觉',dialogue_ids:d?[d.dialogue_id]:[],subtitle_text:d?.dialogue_type==='dialogue'?d.text:'',narration_text:d?.dialogue_type!=='dialogue'?(d?.text||''):'',lighting:'符合场次时间的方向光',atmosphere:'紧张、克制',sound_effect_hint:'环境声',bgm_hint:'低频悬疑氛围',transition_type:'cut',visual_prompt_base:'短剧竖屏构图，中景，人物与环境关系清晰',video_prompt_base:'人物完成单一动作，镜头缓慢推进，运动自然',negative_prompt_base:'人物数量错误，多手多脚，面部变形，无关人物，文字，水印，Logo，构图异常',continuity_from_shot_order:order>2?order-2:null,continuity_notes:{character_position:'保持轴线方向',character_expression:'承接上一镜情绪',costume_state:'与上一镜一致',prop_state:'道具状态一致',camera_direction:'不越轴',environment_state:'光线与天气连续'}});}}if(x.shot_id){const old=x.scenes.flatMap(s=>s.existing_shots||[]).find(v=>v.shot_id===x.shot_id);shots=shots.slice(0,1);shots[0].shot_id=x.shot_id;}const assigned=new Set(shots.flatMap(v=>v.dialogue_ids)),all=x.scenes.flatMap(v=>v.dialogues||[]).map(v=>v.dialogue_id),missing=all.filter(v=>!assigned.has(v));return [{json:{...x,board:{episode_id:x.episode_id,estimated_duration_seconds:shots.reduce((a,b)=>a+Number(b.duration_seconds),0),shots,quality_report:{duration_valid:true,missing_dialogue_ids:missing,invalid_character_ids:[],invalid_location_ids:[],continuity_issues:[],shot_order_valid:true,warnings:x.test_mode&&missing.length?['TEST_MAX_SHOTS caused dialogue truncation']:[]}},usage:{},request_id:'mock'}}];"},"id":"06-mock","name":"Generate Stable Mock Storyboard","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-60]},
    {"parameters":{"method":"POST","url":"={{$env.LITELLM_BASE_URL+'/v1/chat/completions'}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{'Bearer '+$env.LITELLM_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {model:$env.STORYBOARD_MODEL||'glm-5.2',temperature:Number($env.STORYBOARD_TEMPERATURE||0.4),max_tokens:Number($env.MODEL_MAX_TOKENS||4096),response_format:{type:'json_object'},messages:[{role:'system',content:'输出严格JSON分镜，字段episode_id,estimated_duration_seconds,shots,quality_report。镜头2-6秒，一个主要动作，所有dialogue_id必须映射，只使用输入ID。'},{role:'user',content:JSON.stringify({scenes:$json.scenes,max_shots:$json.test_mode?Number($env.TEST_MAX_SHOTS||10):null,shot_id:$json.shot_id})}]} }}","options":{"timeout":"={{Number($env.MODEL_REQUEST_TIMEOUT_SECONDS||180)*1000}}"}},"id":"06-ai","name":"Call Storyboard Model","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,140],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const b=$('Enforce Approved Script').item.json,s=$json.choices?.[0]?.message?.content;if(typeof s!=='string')throw new Error('MODEL_INVALID_JSON');return [{json:{...b,board:JSON.parse(s.replace(/^```(?:json)?\\s*/i,'').replace(/```$/,'').trim()),usage:$json.usage||{},request_id:$json.id||null}}];"},"id":"06-parse","name":"Parse Model JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,140],"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const crypto=require('crypto'),x=$json,b=x.board;if(!Array.isArray(b?.shots)||!b.quality_report)throw new Error('MODEL_INVALID_JSON');const scenes=new Map(x.scenes.map(v=>[v.scene_number,v])),chars=new Set(x.scenes.flatMap(v=>v.characters||[]).map(v=>v.character_id)),locs=new Set(x.scenes.flatMap(v=>v.locations||[]).map(v=>v.location_id)),dialogs=new Set(x.scenes.flatMap(v=>v.dialogues||[]).map(v=>v.dialogue_id)),assigned=new Set(),min=Number($env.SHOT_MIN_DURATION_SECONDS||2),max=Number($env.SHOT_MAX_DURATION_SECONDS||6);if(x.test_mode&&b.shots.length>Number($env.TEST_MAX_SHOTS||10))throw new Error('BUSINESS_VALIDATION_FAILED: TEST_MAX_SHOTS exceeded');for(let i=0;i<b.shots.length;i++){const s=b.shots[i],ctx=scenes.get(s.scene_number);if(!ctx)throw new Error('BUSINESS_VALIDATION_FAILED: invalid scene');if(s.shot_order!==i+1)throw new Error('BUSINESS_VALIDATION_FAILED: shot order');if(Number(s.duration_seconds)<min||Number(s.duration_seconds)>max)throw new Error('DURATION_OUT_OF_RANGE');if((s.character_ids||[]).some(v=>!chars.has(v)))throw new Error('INVALID_CHARACTER_ID');if(s.location_id&&!locs.has(s.location_id))throw new Error('INVALID_LOCATION_ID');if((s.dialogue_ids||[]).some(v=>!dialogs.has(v)))throw new Error('INVALID_DIALOGUE_ID');(s.dialogue_ids||[]).forEach(v=>assigned.add(v));s.scene_id=ctx.scene_id;s.shot_id=x.shot_id||`shot_${crypto.createHash('sha1').update(x.storyboard_id+':'+s.shot_order).digest('hex').slice(0,20)}`;}const missing=[...dialogs].filter(v=>!assigned.has(v));if(missing.length&&!x.test_mode)throw new Error('INVALID_DIALOGUE_ID: unmapped dialogue '+missing.join(','));for(const s of b.shots)s.continuity_from_shot_id=s.continuity_from_shot_order?b.shots.find(v=>v.shot_order===s.continuity_from_shot_order)?.shot_id||null:null;b.quality_report.missing_dialogue_ids=missing;return [{json:x}];"},"id":"06-validate","name":"Validate Shots Dialogue Mapping IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,20],"onError":"continueErrorOutput"},
    {"parameters":{"operation":"executeQuery","query":"WITH bd AS(INSERT INTO drama.storyboards(storyboard_id,project_id,episode_id,script_id,version,total_shots,estimated_duration_seconds,status,quality_report)VALUES($1,$2,$3,$4,$5,$6,$7,'waiting_review',$8::jsonb)ON CONFLICT(episode_id,version)DO UPDATE SET total_shots=CASE WHEN $9 THEN drama.storyboards.total_shots ELSE excluded.total_shots END,estimated_duration_seconds=CASE WHEN $9 THEN drama.storyboards.estimated_duration_seconds ELSE excluded.estimated_duration_seconds END,quality_report=excluded.quality_report RETURNING storyboard_id),sh AS(INSERT INTO drama.storyboard_shots(shot_id,storyboard_id,project_id,episode_id,scene_id,shot_number,shot_order,duration_seconds,shot_size,camera_angle,camera_motion,composition,character_ids,location_id,action_description,facial_expression,dialogue_ids,subtitle_text,narration_text,lighting,atmosphere,sound_effect_hint,bgm_hint,transition_type,visual_prompt_base,video_prompt_base,negative_prompt_base,continuity_from_shot_id,continuity_notes,source_scene_data,status,generation_version)SELECT s.shot_id,$1,$2,$3,s.scene_id,s.shot_number,s.shot_order,s.duration_seconds,s.shot_size,s.camera_angle,s.camera_motion,s.composition,s.character_ids,s.location_id,s.action_description,s.facial_expression,s.dialogue_ids,s.subtitle_text,s.narration_text,s.lighting,s.atmosphere,s.sound_effect_hint,s.bgm_hint,s.transition_type,s.visual_prompt_base,s.video_prompt_base,s.negative_prompt_base,s.continuity_from_shot_id,s.continuity_notes,jsonb_build_object('scene_number',s.scene_number),'waiting_review',$5 FROM jsonb_to_recordset($10::jsonb)s(shot_id text,scene_id text,scene_number int,shot_number int,shot_order int,duration_seconds numeric,shot_size text,camera_angle text,camera_motion text,composition text,character_ids jsonb,location_id text,action_description text,facial_expression text,dialogue_ids jsonb,subtitle_text text,narration_text text,lighting text,atmosphere text,sound_effect_hint text,bgm_hint text,transition_type text,visual_prompt_base text,video_prompt_base text,negative_prompt_base text,continuity_from_shot_id text,continuity_notes jsonb)ON CONFLICT(shot_id)DO UPDATE SET duration_seconds=excluded.duration_seconds,shot_size=excluded.shot_size,camera_angle=excluded.camera_angle,camera_motion=excluded.camera_motion,composition=excluded.composition,action_description=excluded.action_description,dialogue_ids=excluded.dialogue_ids,continuity_notes=excluded.continuity_notes),rv AS(INSERT INTO drama.review_tasks(review_id,project_id,stage,entity_type,entity_id,review_status,metadata)VALUES($11,$2,'storyboard','storyboard',$1,'pending',jsonb_build_object('version',$5,'episode_id',$3))ON CONFLICT(review_id)DO NOTHING),us AS(INSERT INTO drama.generation_usage(usage_id,project_id,workflow_stage,entity_type,entity_id,model,request_id,input_tokens,output_tokens,total_tokens,latency_ms,success)VALUES($12,$2,'storyboard_design','storyboard',$1,$13,$14,$15,$16,$17,$18,true)ON CONFLICT(usage_id)DO NOTHING),pr AS(UPDATE drama.projects SET current_stage='storyboard_review',status='waiting_review' WHERE project_id=$2),done AS(UPDATE drama.workflow_tasks SET status='completed',completed_at=now(),output_data=jsonb_build_object('success',true,'project_id',$2,'trace_id',$19,'stage','storyboard_design','status','completed','data_ref',jsonb_build_object('entity_type','storyboard','entity_id',$1,'episode_id',$3,'review_id',$11),'metrics',jsonb_build_object('duration_ms',$18,'input_tokens',$15,'output_tokens',$16,'estimated_cost',0,'shots',$6),'error',NULL)WHERE idempotency_key=$20 RETURNING output_data)SELECT output_data FROM done;","options":{"queryReplacement":"={{[$json.storyboard_id,$json.project_id,$json.episode_id,$json.script_id,$json.generation_version,$json.board.shots.length,Number($json.board.estimated_duration_seconds),JSON.stringify($json.board.quality_report),Boolean($json.shot_id),JSON.stringify($json.board.shots),$json.review_id,'usage_'+$json.storyboard_id,$env.STORYBOARD_MODEL||'glm-5.2',$json.request_id||null,Number($json.usage?.prompt_tokens||0),Number($json.usage?.completion_tokens||0),Number($json.usage?.total_tokens||0),Date.now()-$json.started_ms,$json.trace_id,$json.idempotency_key]}}"}},"id":"06-save","name":"Save Storyboard Shots Review Usage","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1160,20],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}},"onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"return [{json:$json.output_data}];"},"id":"06-success","name":"Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,20]},
    {"parameters":{"jsCode":"const r=$('Validate and Normalize').item.json,m=$json.error?.message||$json.message||'storyboard failed',code=(m.split(':')[0]||'BUSINESS_VALIDATION_FAILED').replace(/\\W/g,'_');return [{json:{response:{success:false,project_id:r.project_id,trace_id:r.trace_id,stage:'storyboard_design',status:code==='EPISODE_SCRIPT_NOT_APPROVED'?'waiting_review':'failed',data_ref:null,metrics:{},error:{code,message:m.replace(/^[A-Z_]+:\\s*/,''),retryable:/429|timeout|5\\d\\d|network/i.test(m)}},key:r.idempotency_key}}];"},"id":"06-failure","name":"Failure Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},
    {"parameters":{"operation":"executeQuery","query":"UPDATE drama.workflow_tasks SET status='failed',error_code=$1,error_message=$2,output_data=$3::jsonb,completed_at=now()WHERE idempotency_key=$4;SELECT $3::jsonb response;","options":{"queryReplacement":"={{[$json.response.error.code,$json.response.error.message,JSON.stringify($json.response),$json.key]}}"}},"id":"06-save-failure","name":"Save Failure","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,400],"credentials":{"postgres":{"id":"REPLACE_WITH_POSTGRES_CREDENTIAL_ID","name":"Short Drama PostgreSQL"}}},
    {"parameters":{"jsCode":"return [{json:$json.response}];"},"id":"06-final-failure","name":"Failed Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,400]}
  ],
  "connections":{"Sub-workflow Trigger":{"main":[[{"node":"Validate and Normalize","type":"main","index":0}]]},"Validate and Normalize":{"main":[[{"node":"Idempotency Task Gate","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Idempotency Task Gate":{"main":[[{"node":"Already Completed?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Already Completed?":{"main":[[{"node":"Return Cached Result","type":"main","index":0}],[{"node":"Restore Request","type":"main","index":0}]]},"Restore Request":{"main":[[{"node":"Load Approved Script Scenes Dialogues","type":"main","index":0}]]},"Load Approved Script Scenes Dialogues":{"main":[[{"node":"Enforce Approved Script","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Enforce Approved Script":{"main":[[{"node":"Mock Mode?","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Mock Mode?":{"main":[[{"node":"Generate Stable Mock Storyboard","type":"main","index":0}],[{"node":"Call Storyboard Model","type":"main","index":0}]]},"Generate Stable Mock Storyboard":{"main":[[{"node":"Validate Shots Dialogue Mapping IDs","type":"main","index":0}]]},"Call Storyboard Model":{"main":[[{"node":"Parse Model JSON","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Parse Model JSON":{"main":[[{"node":"Validate Shots Dialogue Mapping IDs","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Validate Shots Dialogue Mapping IDs":{"main":[[{"node":"Save Storyboard Shots Review Usage","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Save Storyboard Shots Review Usage":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Failure Response","type":"main","index":0}]]},"Failure Response":{"main":[[{"node":"Save Failure","type":"main","index":0}]]},"Save Failure":{"main":[[{"node":"Failed Final","type":"main","index":0}]]}},
  "pinData":{},"versionId":"d6a6a2fb-7fcb-4f1c-bbb1-060000000006","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
